{% extends 'master.html' %}

{% load static %}

{% block title %}
Create Referral
Create Referral
{% endblock %}

{% block content %}

<body class="hold-transition sidebar-mini">
  <div class="wrapper">

    {% include "navbar.html" %}
    {% include "sidebar.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header breadcrump-bg">
        <div class="container-fluid">
          <div class="row py-2">
            <div class="col-sm-6">
              <div class="d-flex align-items-center">
                <a href="javascript:void(0)" class="admin-title m-0 pt-2 text-dark">Create Referral</a>
              </div>
              <ul class="breadcrump">
                <li> <a href="#">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                <li> <a href="#">Referral Mgmt.</a> <i class="fas fa-chevron-right"></i></li>
                <li>Add Referral</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">

            <div class="col-sm-12">
              <div class="card box-shadow-none p-md-5 p-3">
                <div class="card-body px-0 pb-0 pt-0">



                  <form autocomplete="off" id="referralForm" name="referralForm"
                    action="{% if referral and referral.id %}{% url 'referral-management-edit' referral.id %}{% else %}{% url 'referral-management-create' %}{% endif %}"
                    method="post">
                    {% csrf_token %}

                    <div class="row">
                      <!-- Name -->
                      <div class="form-group col-md-6">
                        <label for="name">Name</label>
                        <input type="text" class="form-control name" name="name" id="name" placeholder="Enter Name"
                          maxlength="255" value="{{ referral.name|default_if_none:'' }}">
                      </div>

                      <!-- User Role -->
                      <div class="form-group col-md-6">
                        <label for="user_role">User Role</label>
                        <input type="text" class="form-control" name="user_role" id="user_role"
                          placeholder="Enter User Role" value="{{ referral.user_role|default_if_none:'' }}">
                      </div>

                      <!-- Branch -->
                      <div class="form-group col-md-6">
                        <label for="branch">Branch</label>
                        <input type="text" class="form-control" name="branch" id="branch" placeholder="Enter Branch"
                          maxlength="50" value="{{ referral.branch|default_if_none:'' }}">
                      </div>

                      <!-- Sales -->
                      <div class="form-group col-md-6">
                        <label for="sales">Sales Manager</label>
                        <input type="text" class="form-control" name="sales" id="sales" placeholder="Enter Sales Manager Name"
                          maxlength="50" value="{{ referral.sales|default_if_none:'' }}">
                      </div>

                      <!-- Supervisor -->
                      <div class="form-group col-md-6">
                        <label for="supervisor">Supervisor</label>
                        <input type="text" class="form-control" name="supervisor" id="supervisor" maxlength="50"
                          placeholder="Enter Supervisor" value="{{ referral.supervisor|default_if_none:'' }}">
                      </div>

                      <!-- Franchise -->
                      <div class="form-group col-md-6">
                        <label for="franchise">Franchise</label>
                        <input type="text" class="form-control" name="franchise" id="franchise" maxlength="50"
                          placeholder="Enter Franchise" value="{{ referral.franchise|default_if_none:'' }}">
                      </div>

                      <!-- Mobile Number -->
                      <div class="form-group col-md-6">
                        <label for="mobile">Mobile</label>
                        <input type="tel" class="form-control mobile" name="mobile" id="mobile"
                          placeholder="Enter Mobile Number" value="{{ referral.mobile|default_if_none:'' }}">
                      </div>

                      <!-- Email -->
                      <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email"
                          maxlength="255" value="{{ referral.email|default_if_none:'' }}">
                      </div>

                      <!-- Date of Birth -->
                      <div class="form-group col-md-6">
                        <label for="dob">Date of Birth</label>
                        <input type="date" class="form-control" name="dob" id="dob"
                          value="{{ referral.dob|default_if_none:''  }}">
                      </div>

                      <!-- Date of Anniversary -->
                      <div class="form-group col-md-6">
                        <label for="anniversary">Date of Anniversary</label>
                        <input type="date" class="form-control " name="date_of_anniversary" id="anniversary"
                          value="{{ referral.date_of_anniversary|default_if_none:''  }}">
                      </div>

                      <!-- PAN Card Number -->
                      <div class="form-group col-md-6">
                        <label for="pan">PAN Card Number</label>
                        <input type="text" class="form-control pan" name="pan_card_number" id="pan_card_number"
                          placeholder="Enter PAN Card Number" value="{{ referral.pan_card_number|default_if_none:'' }}"
                          maxlength="10" minlength="10">
                      </div>

                      <!-- Aadhar Number -->
                      <div class="form-group col-md-6">
                        <label for="aadhar">Aadhar Number</label>
                        <input type="text" class="form-control aadhar" name="aadhar" id="aadhar"
                          placeholder="Enter Aadhar Number" pattern="[0-9]{12}" minlength="12" maxlength="12"
                          value="{{ referral.aadhar_no|default_if_none:'' }}">
                      </div>

                      <!-- Pincode -->
                      <div class="form-group col-md-6">
                        <label for="pincode">Pincode</label>
                        <input type="text" class="form-control" name="pincode" id="pincode" placeholder="Enter Pincode"
                          value="{{ referral.pincode|default_if_none:'' }}" minlength="6" maxlength="6">
                      </div>

                      
                      <!-- State -->
                      <div class="form-group col-md-6">
                        <label for="state">State</label>
                        <input type="text" class="form-control" name="state" id="state" placeholder="Enter State"
                          value="{{ referral.state|default_if_none:'' }}">
                      </div>

                      <!-- City -->
                      <div class="form-group col-md-6">
                        <label for="city">City</label>
                        <input type="text" class="form-control" name="city" id="city" placeholder="Enter City"
                          value="{{ referral.city|default_if_none:'' }}">
                      </div>

                      <!-- Address -->
                      <div class="form-group col-md-12">
                        <label for="address">Address</label>
                        <textarea class="form-control" name="address" id="address"
                          placeholder="Enter Address">{{ referral.address|default_if_none:'' }}</textarea>
                      </div>



                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary mt-3">
                      {% if referral %}Update Referral{% else %}Add Referral{% endif %}
                    </button>
                  </form>

                    <!-- {% if referral and referral.id %}
                       <a href="{% url 'ref_bank_details' referral.id %}" class="btn btn-outline-primary mt-3">Add Bank Details</a>
                    {% endif %} -->





                </div>
                <div id="loader" class="form-loader" style="display: none;">
                  <div>
                    <div class="spinner-border text-primary mx-auto d-block" role="status"></div>
                    <span class="visually-hidden d-block pt-2">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% include "footer.html" %}
  {% include "footer-script.html" %}
  <script>
    document.getElementById("myForm").addEventListener("submit", function () {
      document.getElementById("loader").style.display = "flex";
    });
  </script>
</body>
{% endblock %}