{% extends 'master.html' %}

{% block title %}
Policy Data
{% endblock %}

{% block content %}
{% load static %}

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  {% include 'navbar.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
   {% include 'sidebar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header breadcrump-bg">
      <div class="container-fluid ">
        <div class="row py-2">
          <div class="col-sm-12">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                  <a href="javascript:void(0)" class="admin-title m-0 pt-2 text-dark">Manual Policy Create</a>
                  <ul class="breadcrump">
                    <li> <a href="#">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                    <li><a href="{% url 'policy-data' %}">Policy Mgt.</a> <i class="fas fa-chevron-right"></i></li>
                    <li><a href="{% url 'bulk-upload-logs' %}">Bulk Logs</a> <i class="fas fa-chevron-right"></i></li>
                    <li><a href="{% url 'failed-policies-list' %}">Failed Files</a> <i class="fas fa-chevron-right"></i></li>
                    <li>Add Manual Policy</li>
                  </ul>
                </div>
            </div>
          </div>
          
        </div>
        
        
      </div>
    </div>
    <!-- /.content-header -->
    
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-sm-12">  
            <div class="card box-shadow-none p-3">
              <div class="card-body px-0 pb-0 pt-0">

                <form autocomplete="off" id="myPolicyManualForm" name="updatePolicy" action="{% url 'create-manual-policy' id=file.id %}" method="post" novalidate="novalidate">
                                                {% csrf_token %}

                    <input type="hidden" class="form-field" name="policy_id" id="policy_id" value="448">
                    
                    <div class="form-box-shadow">
                      <h2 class="form-bg-title">Basic Policy</h2>
                      <div class="form-padding">
                        <div class="row">
                          <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                              <label class="form-lbl" for="policy_number">Policy Number</label>
                              <input type="text" class="form-field" name="policy_number" id="policy_number" placeholder="Policy Number">
                            </div>
                          </div>
                    
                          <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                              <label class="form-lbl" for="policy_issue_date">Policy Issue Date</label>
                              <input type="date" class="form-field" name="policy_issue_date" id="policy_issue_date" placeholder="Policy Issue Date" >
                            </div>
                          </div>
                    
                          <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                              <label class="form-lbl" for="policy_start_date">Policy Start Date</label>
                              <input type="date" class="form-field" name="policy_start_date" id="policy_start_date" placeholder="Policy Start Date">
                            </div>
                          </div>
                    
                          <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                              <label class="form-lbl" for="policy_expiry_date">Policy Expiry Date</label>
                              <input type="date" class="form-field" name="policy_expiry_date" id="policy_expiry_date" placeholder="Policy Expiry Date">
                            </div>
                          </div>
                    
                          <div class="col-sm-6 col-md-4 col-lg-3">
                            <!-- Reserved for future -->
                          </div>
                    
                          <div class="col-sm-6 col-md-4 col-lg-3">
                            <!-- Reserved for future -->
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-box-shadow">
                          <iframe src="{{ file.file_url }}" frameborder="0" width="100%" height="400px"></iframe>
                        </div>
                      </div>
                      <div class="col-md-8">
                        
                        <div class="form-box-shadow">
                          <h2 class="form-bg-title">Insured Details</h2>
                          <div class="form-padding">
                            <div class="row">
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl" for="holder_name">Insured Name</label>
                                  <input type="text" class="form-field" name="holder_name" id="holder_name" placeholder="Insured Name">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl" for="insured_mobile">Insured Mobile</label>
                                  <input type="text" class="form-field mobile" name="insured_mobile" id="insured_mobile" placeholder="Insured Mobile" value="">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl" for="insured_email">Insured Email</label>
                                  <input type="text" class="form-field" name="insured_email" id="insured_email" placeholder="Insured Email" value="">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl" for="insured_address">Insured Address</label>
                                  <input type="text" class="form-field" name="insured_address" id="insured_address" placeholder="Insured Address" value="">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl" for="insured_pan">Insured PAN</label>
                                  <input type="text" class="form-field" name="insured_pan" id="insured_pan" placeholder="Insured PAN" value="">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl" for="insured_aadhaar">Insured Aadhaar</label>
                                  <input type="text" class="form-field" name="insured_aadhaar" id="insured_aadhaar" placeholder="Insured Aadhaar" value="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <div class="form-box-shadow">
                          <h2 class="form-bg-title">Policy Details</h2>
                          <div class="form-padding">
                            <div class="row">
                              
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl">Insurance Company</label>
                                  <select name="insurance_company" id="insurance_company" class="form-field">
                                    <option value="">Select Insurance Company</option>
                                    {% for insurer in insurers %}
                                        <option value="{{ insurer.id }}" {% if insurer.id == request.insurer.id %}selected{% endif %}>
                                            {{ insurer.insurance_company }}
                                        </option>
                                    {% endfor %}
                                  </select>
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl">Branch Name</label>
                                      <select id="branch" name="registration_city" class="form-field">
                                          <option value="">Select Branch</option>
                                          {% for branch in branches %}
                                          <option value="{{ branch.id }}" {% if branch.id|stringformat:"s" == policy.branch_name|stringformat:"s" %}selected{% endif %}>
                                              {{ branch.branch_name }}
                                          </option>
                                          {% endfor %}
                                      </select>
                                </div>
                              </div>
                              
                              
                        
                              
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl">Policy Type</label>
                                  <input type="text" class="form-field" name="policy_type" placeholder="Policy Type">
                                </div>
                              </div>


                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl" for="fuel_type">Fuel Type</label>
                                  
                                    <select class="form-field" name="fuel_type" id="fuel_type">
                                      <option value="">Select</option>
                                      <option value="Petrol" selected="">Petrol</option>
                                      <option value="Diesel">Diesel</option>
                                      <option value="Cng">CNG</option>
                                      <option value="Be-Fuel">Be-Fuel</option>
                                    </select>
                                  
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl">Be-Fuel Amount</label>
                                  <input type="text" class="form-field" name="be_fuel_amount" id="be_fuel_amount" placeholder="Be-Fuel Amount" value="0.00">
                                </div>
                              </div>

                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl">Policy Plan</label>
                                  <input type="text" class="form-field" name="policy_duration" placeholder="Policy Plan" value="">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl">Sum Insured</label>
                                  <input type="text" class="form-field" name="idv_value" placeholder="Sum Insured">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl">OD Premium</label>
                                  <input type="text" class="form-field" id="od_premium" name="od_premium" placeholder="OD Premium">
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl">
                                    TP Premium
                                    <span class="hint-icon" data-toggle="tooltip" data-placement="top" title="TP Additional Premium: None 
                                      &amp; TP premium: None">
                                      <i class="fas fa-info-circle"></i> <!-- FontAwesome info icon -->
                                    </span>
                                  </label>
                                  <input type="text" class="form-field" id="tp_premium" name="tp_premium" placeholder="TP Premium" value="0">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl">PA Count</label>
                                  <input type="text" class="form-field" name="pa_count" placeholder="PA Count" value="0">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl">PA Amount</label>
                                  <input type="text" class="form-field" name="pa_amount" placeholder="PA Amount" value="0.00">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl">Driver Count</label>
                                  <input type="text" class="form-field" name="driver_count" placeholder="Driver Count" value="0">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl">Driver Amount</label>
                                  <input type="text" class="form-field" name="driver_amount" placeholder="Driver Amount" value="0.00">
                                </div>
                              </div>


                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl">Gross Premium</label>
                                  <input type="text" class="form-field" name="gross_premium" placeholder="Gross Premium" value="0">
                                </div>
                              </div>
                              
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl">Net Premium</label>
                                  <input type="text" class="form-field" id="net_premium" name="net_premium" placeholder="Net Premium" value="0.0" readonly="">
                                </div>
                              </div>

                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl">GST</label>
                                  <input type="text" class="form-field number" name="gst_premium" placeholder="GST Amount" value="0.0">
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        
                        

                        <div class="d-flex justify-content-end mt-4">
                          <button type="submit" id="save-policy-from" class="dashboard-addbtn">Save and Continue</button>
                        </div>  
                      </div>
                    </div>
                    
                    
                    
                </form>
                <div id="loader" class="form-loader" style="display: none;">
                  <div>
                    <div class="spinner-border text-primary mx-auto d-block" role="status"></div>
                    <span class="visually-hidden d-block pt-2">Loading...</span>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
<!-- /.content-wrapper -->

<!-- Main Footer -->
{% include 'footer.html' %}

</div>
<!-- ./wrapper -->

{% include 'footer-script.html' %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const checkboxes = document.querySelectorAll(".reprocess");
    const hiddenInput = document.getElementById("continue-bulk-policies");
    const selectAllCheckbox = document.getElementById("select-all");

    // Update hidden input value with selected checkbox IDs
    function updateHiddenField() {
      let selectedIds = [];
      checkboxes.forEach((checkbox) => {
        if (checkbox.checked) {
          selectedIds.push(checkbox.value);
        }
      });
      hiddenInput.value = selectedIds.join(",");
      console.log(hiddenInput.value);
    }

    // Add event listener to each checkbox for change event
    checkboxes.forEach((checkbox) => {
      checkbox.addEventListener("change", updateHiddenField);
    });

    // Enable checkboxes after 2 minutes if not status 6 or 7
    checkboxes.forEach(function (checkbox) {
      const createdAt = parseInt(checkbox.getAttribute("data-created-at")) * 1000;
      const status = parseInt(checkbox.getAttribute("data-status"));
      const now = Date.now();
      const timeDiff = now - createdAt;

      const maybeEnable = () => {
        if (status !== 6 && status !== 7) {
          checkbox.removeAttribute("disabled");
        }
      };

      if (timeDiff >= 2 * 60 * 1000) {
        maybeEnable();
      } else {
        const delay = (2 * 60 * 1000) - timeDiff;
        setTimeout(maybeEnable, delay);
      }
    });

    // Select All functionality
    if (selectAllCheckbox) {
      selectAllCheckbox.addEventListener("change", function () {
        checkboxes.forEach((checkbox) => {
          if (!checkbox.disabled) {
            checkbox.checked = selectAllCheckbox.checked;
          }
        });
        updateHiddenField();
      });
    }
  });
</script>

<script>
  // Show loader on form submit
  document.getElementById("myForm").addEventListener("submit", function () {
    document.getElementById("loader").style.display = "flex";
  });
</script>
</body>


<script>
  function showErrorMessage(remark) {
    Swal.fire({
      title: "Failed Error Message",
      text: remark || 'No remark provided.',
      icon: 'info',
      confirmButtonText: 'Close'
    });
  }
</script>
    
{% endblock %}