{% extends 'master.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}
    Edit Insurer Payment Info
{% endblock %}

{% block content %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
        {% include "navbar.html" %}
        {% include "sidebar.html" %}
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header breadcrump-bg">
          <div class="container-fluid">
            <div class="row py-2">
              <div class="col-sm-6">
                <div class="d-flex align-items-center">
                  <a href="javascript:void(0)" class="admin-title m-0 pt-2 text-dark">Edit Insurer Payment Info</a>
                </div>
                <ul class="breadcrump">
                  <li> <a href="#">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                  <li> <a href="#">Policy Mgt</a> <i class="fas fa-chevron-right"></i></li>
                  <li>Edit Policy</li>
                </ul>
              </div>
              
              <div class="col-sm-6">
                  <div class="d-flex justify-content-end">
                    <a href="{% url 'edit-agent-payment-info' policy_data.policy_number %}" class="breadcrump-addbtn mx-1">Back</a>
                    <a href="{% url 'policy-data' %}" class="breadcrump-addbtn mx-1">Exit</a>

                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              
              <div class="col-sm-12">  
                <div class="card box-shadow-none p-3">
                  <div class="card-body px-0 pb-0 pt-0">

                    <form autocomplete="off" id="myInsurerPaymentForm" name="updatePolicy" action="{% url 'edit-insurer-payment-info' policy_data.policy_number %}" method="post">
                        {% csrf_token %}
                      
                        <input type="hidden" class="form-field" name="policy_id" id="policy_id" value="{{ policy_data.id }}">
                        
                        <div class="form-box-shadow">
                          <h2 class="form-bg-title">Basic Policy</h2>
                          <div class="form-padding">
                            <div class="row">
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl" for="policy_number">Policy Number</label>
                                  <input type="text" class="form-field" name="policy_number" id="policy_number" placeholder="Policy Number" value="{{ policy_data.policy_number }}">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl" for="policy_issue_date">Policy Issue Date</label>
                                  <input type="text" class="form-field" name="policy_issue_date" id="policy_issue_date" placeholder="Policy Issue Date" value="{{ policy_data.policy_issue_date }}">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl" for="policy_start_date">Policy Start Date</label>
                                  <input type="text" class="form-field" name="policy_start_date" id="policy_start_date" placeholder="Policy Start Date" value="{{ policy_data.policy_start_date }}">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl" for="policy_expiry_date">Policy Expiry Date</label>
                                  <input type="text" class="form-field" name="policy_expiry_date" id="policy_expiry_date" placeholder="Policy Expiry Date" value="{{ policy_data.policy_expiry_date }}">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <!-- Reserved for future -->
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <!-- Reserved for future -->
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-box-shadow">
                              <iframe src="{{ pdf_path }}" frameborder="0" width="100%" height="400px"></iframe>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <ul class="new-stepflow">
                              <li class="active"><a href="javascript:void(0)"></a></li>
                              <li class="active"><a href="javascript:void(0)"></a></li>
                              <li class="active"><a href="javascript:void(0)"></a></li>
                              <li class="active"><a href="javascript:void(0)"></a></li>
                              <li class="active"><a href="javascript:void(0)"></a></li>
                              <li><a href="javascript:void(0)"></a></li>
                             </ul>
                            
                             
                                                        
                              <div class="form-box-shadow">
                                <h2 class="form-bg-title">Insurer Payment Details</h2>
                                <div class="form-padding">
                                  <div class="row">
                                    <!-- Payment Mode -->
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Insurer Payment Mode</label>
                                        <select class="form-field" name="insurer_payment_mode">
                                          <option value="Online" {% if insurer_payment.insurer_payment_mode == "Online" %}selected{% endif %}>Online</option>
                                          <option value="Pending" {% if insurer_payment.insurer_payment_mode == "Pending" %}selected{% endif %}>Pending</option>
                                          <option value="Float" {% if insurer_payment.insurer_payment_mode == "Float" %}selected{% endif %}>Float</option>
                                          <option value="Cheque/Demand Draft" {% if insurer_payment.insurer_payment_mode == "Cheque/Demand Draft" %}selected{% endif %}>Cheque/Demand Draft</option>
                                          <option value="PayTM/UPI/Wallet" {% if insurer_payment.insurer_payment_mode == "PayTM/UPI/Wallet" %}selected{% endif %}>PayTM/UPI/Wallet</option>
                                          <option value="NEFT/IMPS/RTGS" {% if insurer_payment.insurer_payment_mode == "NEFT/IMPS/RTGS" %}selected{% endif %}>NEFT/IMPS/RTGS</option>
                                        </select>
                                      </div>
                                    </div>

                                    <!-- Payment Date -->
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Insurer Payment Date</label>
                                        <input type="date" class="form-field" name="insurer_payment_date" placeholder="DD-MM-YYYY"
                                              value="{{ insurer_payment.insurer_payment_mode|default_if_none:'' }}">
                                      </div>
                                    </div>

                                    <!-- Amount -->
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Insurer Amount</label>
                                        <input type="text" class="form-field number" name="insurer_amount" placeholder="Amount"
                                          value="{{ insurer_payment.insurer_amount|blank_if_none_or_text_none }}">
                                      </div>
                                    </div>

                                    <!-- Remarks -->
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Insurer Remarks</label>
                                        <input type="text" class="form-field" name="insurer_remarks" placeholder="Remarks"
                                              value="{{ insurer_payment.insurer_remarks|blank_if_none_or_text_none }}">
                                      </div>
                                    </div>

                                    <!-- Commissions -->
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Insurer OD Comm (in %)</label>
                                        <input type="text" class="form-field percentage" name="insurer_od_comm" placeholder="OD Commission (%)"
                                              value="{{ insurer_payment.insurer_od_comm|default:policy_data.insurer_od_commission }}">
                                      </div>
                                    </div>

                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Insurer OD Amount</label>
                                        <input type="text" class="form-field number" name="insurer_od_amount" placeholder="OD Amount"
                                              value="{{ insurer_payment.insurer_od_amount|blank_if_none_or_text_none }}">
                                      </div>
                                    </div>


                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Insurer TP Comm (in %)</label>
                                        <input type="text" class="form-field percentage" name="insurer_tp_comm" placeholder="TP Commission (%)"
                                              value="{{ insurer_payment.insurer_tp_comm|default:policy_data.insurer_tp_commission }}">
                                      </div>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Insurer TP Amount</label>
                                        <input type="text" class="form-field number" name="insurer_tp_amount" placeholder="TP Amount"
                                              value="{{ insurer_payment.insurer_tp_amount|blank_if_none_or_text_none }}">
                                      </div>
                                    </div>

                                    
                                    

                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Insurer Net Comm (in %)</label>
                                        <input type="text" class="form-field percentage" name="insurer_net_comm" placeholder="Net Commission (%)"
                                              value="{{ insurer_payment.insurer_net_comm|default:policy_data.insurer_net_commission }}">
                                      </div>
                                    </div>

                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Insurer Net Amount</label>
                                        <input type="text" class="form-field number" name="insurer_net_amount" placeholder="Net Amount"
                                              value="{{ insurer_payment.insurer_net_amount|blank_if_none_or_text_none }}">
                                      </div>
                                    </div>

                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Insurer TDS (in %) </label>
                                        <input type="text" class="form-field percentage" name="insurer_tds" placeholder="TDS (%)"
                                              value="{{ insurer_payment.insurer_tds|blank_if_none_or_text_none }}">
                                      </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">TDS Amount</label>
                                        <input type="text" class="form-field number" name="insurer_tds_amount" placeholder="TDS Amount"
                                              value="{{ insurer_payment.insurer_tds_amount|blank_if_none_or_text_none }}">
                                      </div>
                                    </div>


                                    <!-- Incentives and TDS -->
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Insurer Incentive Amount</label>
                                        <input type="text" class="form-field number" name="insurer_incentive_amount" placeholder="Incentive Amount"
                                              value="{{ insurer_payment.insurer_incentive_amount|blank_if_none_or_text_none }}">
                                      </div>
                                    </div>

                                    <!-- Amounts -->
                                    

                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Total Commission Amount</label>
                                        <input type="text" class="form-field number" name="insurer_total_comm_amount" placeholder="Total Commission"
                                              value="{{ insurer_payment.insurer_total_comm_amount|blank_if_none_or_text_none }}">
                                      </div>
                                    </div>
                                    
                                    
                                    
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Net Payable Amount</label>
                                        <input type="text" class="form-field number" name="insurer_net_payable_amount" placeholder="Net Payable"
                                              value="{{ insurer_payment.insurer_net_payable_amount|blank_if_none_or_text_none }}">
                                      </div>
                                    </div>

                                    <hr>
                                    
                                    <h1>Payment Receivables</h1>
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Total Commission</label>
                                        <input type="text" class="form-field number" name="insurer_total_commission" placeholder="Total Commission"
                                              value="{{ insurer_payment.insurer_total_commission|blank_if_none_or_text_none }}">
                                      </div>
                                    </div>

                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Received Amount</label>
                                        <input type="text" class="form-field number" name="insurer_receive_amount" placeholder="Received Amount"
                                              value="{{ insurer_payment.insurer_receive_amount|blank_if_none_or_text_none }}">
                                      </div>
                                    </div>

                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-lbl">Balance Amount</label>
                                        <input type="text" class="form-field number" name="insurer_balance_amount" placeholder="Balance Amount"
                                              value="{{ insurer_payment.insurer_balance_amount|blank_if_none_or_text_none }}">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            <div class="d-flex justify-content-end mt-4">
                              <button type="button" id="save-insurer-payment-form" class="dashboard-addbtn">Save and Continue</button>
                            </div>  
                          </div>
                        </div>
                        
                        
                        
                    </form>
                    <div id="loader" class="form-loader" style="display: none;">
                      <div>
                        <div class="spinner-border text-primary mx-auto d-block" role="status"></div>
                        <span class="visually-hidden d-block pt-2">Loading...</span>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
        
    </div>
    
    {% include "footer.html" %}
    {% include "footer-script.html" %}
    <script>
      document.getElementById("myInsurerPaymentForm").addEventListener("submit", function() {
          document.getElementById("loader").style.display = "flex";
      });
    </script>
</body>
{% endblock %}
