{% extends 'master.html' %}

{% load static %}

{% block title %}
    Edit Policy
{% endblock %}

{% block content %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
        {% include "navbar.html" %}
        {% include "sidebar.html" %}
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header breadcrump-bg">
          <div class="container-fluid">
            <div class="row py-2">
              <div class="col-sm-6">
                <div class="d-flex align-items-center">
                  <a href="javascript:void(0)" class="admin-title m-0 pt-2 text-dark">Edit Policy</a>
                </div>
                <ul class="breadcrump">
                  <li> <a href="#">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                  <li> <a href="#">Policy Mgt</a> <i class="fas fa-chevron-right"></i></li>
                  <li>Edit Policy</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              
              <div class="col-sm-12">  
                <div class="card box-shadow-none p-3">
                  <div class="card-body px-0 pb-0 pt-0">

                    <form autocomplete="off" id="myForm" name="updatePolicy" action="{% url 'edit-policy-data' policy_data.id %}" method="post">
                        {% csrf_token %}
                      
                        <input type="hidden" class="form-field" name="policy_id" id="policy_id" value="{{ policy_data.id }}">
                        
                        <div class="form-box-shadow">
                          <h2 class="form-bg-title">Basic Policy</h2>
                          <div class="form-padding">
                            <div class="row">
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl" for="policy_number">Policy Number</label>
                                  <input type="text" class="form-field" name="policy_number" id="policy_number" placeholder="Policy Number" value="{{ policy_data.policy_number }}">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl" for="policy_issue_date">Policy Issue Date</label>
                                  <input type="text" class="form-field" name="policy_issue_date" id="policy_issue_date" placeholder="Policy Issue Date" value="{{ policy_data.policy_issue_date }}">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl" for="policy_start_date">Policy Start Date</label>
                                  <input type="text" class="form-field" name="policy_start_date" id="policy_start_date" placeholder="Policy Start Date" value="{{ policy_data.policy_start_date }}">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                  <label class="form-lbl" for="policy_expiry_date">Policy Expiry Date</label>
                                  <input type="text" class="form-field" name="policy_expiry_date" id="policy_expiry_date" placeholder="Policy Expiry Date" value="{{ policy_data.policy_expiry_date }}">
                                </div>
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <!-- Reserved for future -->
                              </div>
                        
                              <div class="col-sm-6 col-md-4 col-lg-3">
                                <!-- Reserved for future -->
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-box-shadow">
                              <iframe src="{{ policy_data.filepath }}" frameborder="0" width="100%" height="400px"></iframe>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <ul class="new-stepflow">
                              <li class="active"><a href="javascript:void(0)"></a></li>
                              <li><a href="javascript:void(0)"></a></li>
                              <li><a href="javascript:void(0)"></a></li>
                              <li><a href="javascript:void(0)"></a></li>
                              <li><a href="javascript:void(0)"></a></li>
                              <li><a href="javascript:void(0)"></a></li>
                             </ul>
                            
                             <div class="form-box-shadow">
                              <h2 class="form-bg-title">Insured Details</h2>
                              <div class="form-padding">
                                <div class="row">
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl" for="holder_name">Insured Name</label>
                                      <input type="text" class="form-field" name="holder_name" id="holder_name" placeholder="Insured Name" value="{{ policy_data.holder_name }}">
                                    </div>
                                  </div>
                            
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl" for="insured_mobile">Insured Mobile</label>
                                      <input type="text" class="form-field" name="insured_mobile" id="insured_mobile" placeholder="Insured Mobile" value="{{ policy_data.insured_mobile }}">
                                    </div>
                                  </div>
                            
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl" for="insured_email">Insured Email</label>
                                      <input type="text" class="form-field" name="insured_email" id="insured_email" placeholder="Insured Email" value="{{ policy_data.insured_email }}">
                                    </div>
                                  </div>
                            
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl" for="insured_address">Insured Address</label>
                                      <input type="text" class="form-field" name="insured_address" id="insured_address" placeholder="Insured Address" value="{{ policy_data.insured_address }}">
                                    </div>
                                  </div>
                            
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl" for="insured_pan">Insured PAN</label>
                                      <input type="text" class="form-field" name="insured_pan" id="insured_pan" placeholder="Insured PAN" value="{{ policy_data.insured_pan }}">
                                    </div>
                                  </div>
                            
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl" for="insured_aadhaar">Insured Aadhaar</label>
                                      <input type="text" class="form-field" name="insured_aadhaar" id="insured_aadhaar" placeholder="Insured Aadhaar" value="{{ policy_data.insured_aadhaar }}">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            

                            <div class="form-box-shadow">
                              <h2 class="form-bg-title">Policy Details</h2>
                              <div class="form-padding">
                                <div class="row">
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">Insurance Company</label>
                                      <input type="text" class="form-field" name="insurance_company" placeholder="Insurance Company" value="{% if policy_data.insurance_company %}{{ policy_data.insurance_company }}{% endif %}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">Service Provider</label>
                                      <input type="text" class="form-field" name="location" placeholder="Service Provider" value="{% if policy_data.location %}{{ policy_data.location }}{% endif %}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">Insurer Name</label>
                                      <input type="text" class="form-field" name="owner_name" placeholder="Insurer Name" value="{% if policy_data.owner_name %}{{ policy_data.owner_name }}{% endif %}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">Bqp</label>
                                      <input type="text" class="form-field" name="father_name" placeholder="Bqp" value="{% if policy_data.father_name %}{{ policy_data.father_name }}{% endif %}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">Pos Name</label>
                                      <input type="text" class="form-field" name="vehicle_owner_number" placeholder="Pos Name" value="{% if policy_data.vehicle_owner_number %}{{ policy_data.vehicle_owner_number }}{% endif %}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">Branch Name</label>
                                      <input type="text" class="form-field" name="registration_city" placeholder="Branch Name" value="{% if policy_data.registration_city %}{{ policy_data.registration_city }}{% endif %}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">Supervisor Name</label>
                                      <input type="text" class="form-field" name="vehicle_type" placeholder="Supervisor Name" value="{% if policy_data.vehicle_type %}{{ policy_data.vehicle_type }}{% endif %}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">Policy Type</label>
                                      <input type="text" class="form-field" name="policy_type" placeholder="Policy Type" value="{% if policy_data.policy_type %}{{ policy_data.policy_type }}{% endif %}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">Policy Plan</label>
                                      <input type="text" class="form-field" name="policy_duration" placeholder="Policy Plan" value="{% if policy_data.policy_duration %}{{ policy_data.policy_duration }}{% endif %}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">Sum Insured</label>
                                      <input type="text" class="form-field" name="idv_value" placeholder="Sum Insured" value="{% if policy_data.idv_value %}{{ policy_data.idv_value }}{% endif %}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">OD Premium</label>
                                      <input type="text" class="form-field" name="od_premium" placeholder="OD Premium" value="{% if policy_data.od_premium %}{{ policy_data.od_premium }}{% endif %}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">TP Premium</label>
                                      <input type="text" class="form-field" name="tp_premium" placeholder="TP Premium" value="{% if policy_data.tp_premium %}{{ policy_data.tp_premium }}{% endif %}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">PA Count</label>
                                      <input type="text" class="form-field" name="pa_count" placeholder="PA Count" value="{% if policy_data.pa_count %}{{ policy_data.pa_count }}{% else %}0{% endif %}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">PA Amount</label>
                                      <input type="text" class="form-field" name="pa_amount" placeholder="PA Amount" value="{% if policy_data.pa_amount %}{{ policy_data.pa_amount }}{% else %}0.00{% endif %}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">Driver Count</label>
                                      <input type="text" class="form-field" name="driver_count" placeholder="Driver Count" value="{% if policy_data.driver_count %}{{ policy_data.driver_count }}{% else %}0{% endif %}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group">
                                      <label class="form-lbl">Driver Amount</label>
                                      <input type="text" class="form-field" name="driver_amount" placeholder="Driver Amount" value="{% if policy_data.driver_amount %}{{ policy_data.driver_amount }}{% else %}0.00{% endif %}">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            

                            <div class="d-flex justify-content-end mt-4">
                              <button type="submit" class="dashboard-addbtn">Save and Continue</button>
                            </div>  
                          </div>
                        </div>
                        
                        
                        
                    </form>
                    <div id="loader" class="form-loader" style="display: none;">
                      <div>
                        <div class="spinner-border text-primary mx-auto d-block" role="status"></div>
                        <span class="visually-hidden d-block pt-2">Loading...</span>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
        
    </div>
    
    {% include "footer.html" %}
    {% include "footer-script.html" %}
    <script>
      document.getElementById("myForm").addEventListener("submit", function() {
          document.getElementById("loader").style.display = "flex";
      });
    </script>
</body>
{% endblock %}
