{% extends 'master.html' %}

{% load static %}

{% block title %}
    Edit Policy
{% endblock %}

{% block content %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
        {% include "navbar.html" %}
        {% include "sidebar.html" %}
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header breadcrump-bg">
          <div class="container-fluid">
            <div class="row py-2">
              <div class="col-sm-6">
                <div class="d-flex align-items-center">
                  <a href="javascript:void(0)" class="admin-title m-0 pt-2 text-dark">Edit Policy</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              
              <div class="col-sm-12">  
                <div class="card box-shadow-none p-md-5 p-3">
                  <div class="card-body px-0 pb-0 pt-0">
                    

                    <form autocomplete="off" id="myForm" name="updatePolicy" action="/update-policy/" method="post">
                        {% csrf_token %}
                      
                        <input type="hidden" class="form-control" name="policy_id" id="policy_id" value="{{ policy_data.id }}">

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="insurer_name">Insurer Name</label>
                                <input type="text" class="form-control" name="insurer_name" id="insurer_name" placeholder="Insurer Name" value="{{ policy_data.insurance_provider }}">
                            </div>
    
                            <div class="form-group col-sm-6">
                                <label for="policy_number">Policy Number</label>
                                <input type="text" class="form-control" name="policy_number" id="policy_number" placeholder="Policy Number" value="{{ policy_data.policy_number }}">
                            </div>
    
                            <div class="form-group col-sm-6">
                                <label for="vehicle_reg_no">Vehicle Reg Number</label>
                                <input type="text" class="form-control" name="vehicle_reg_no" id="vehicle_reg_no" placeholder="Vehicle Reg Number" value="{{ policy_data.vehicle_number }}">
                            </div>
    
                            <div class="form-group col-sm-6">
                                <label for="policy_holder_name">Policy Holder Name</label>
                                <input type="text" class="form-control" name="policy_holder_name" id="policy_holder_name" placeholder="Policy Holder Name" value="{{ policy_data.holder_name }}">
                            </div>
    
                            <div class="form-group col-sm-6">
                                <label for="policy_issue_date">Policy Issue Date</label>
                                <input type="text" class="form-control" name="policy_issue_date" id="policy_issue_date" placeholder="Policy Issue Date" value="{{ policy_data.issue_date }}">
                            </div>
    
                            <div class="form-group col-sm-6">
                                <label for="policy_start_date">Policy Start Date</label>
                                <input type="text" class="form-control" name="policy_start_date" id="policy_start_date" placeholder="Policy Start Date" value="{{ policy_data.start_date }}">
                            </div>
    
                            <div class="form-group col-sm-6">
                                <label for="policy_expiry_date">Policy Expiry Date</label>
                                <input type="text" class="form-control" name="policy_expiry_date" id="policy_expiry_date" placeholder="Policy Expiry Date" value="{{ policy_data.expiry_date }}">
                            </div>
    
                            <div class="form-group col-sm-6">
                                <label for="policy_premium">Net Premium</label>
                                <input type="text" class="form-control" name="policy_premium" id="policy_premium" placeholder="Policy Premium" value="{{ policy_data.policy_premium }}">
                            </div>
    
                            <div class="form-group col-sm-6">
                                <label for="policy_total_premium">Gross Premium</label>
                                <input type="text" class="form-control" name="policy_total_premium" id="policy_total_premium" placeholder="Policy Total Premium" value="{{ policy_data.policy_total_premium }}">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="policy_gst">GST</label>
                                <input type="text" class="form-control" name="policy_gst" id="policy_gst" placeholder="GST" value="{{ policy_data.gst }}">
                            </div>
    
                            <div class="form-group col-sm-6">
                                <label for="policy_period">Policy Period</label>
                                <input type="text" class="form-control" name="policy_period" id="policy_period" placeholder="Policy Period" value="{{ policy_data.policy_period }}">
                            </div>
    
                            <div class="form-group col-sm-6">
                                <label for="rm_name">RM Name</label>
                                <input type="text" class="form-control" name="rm_name" id="rm_name" placeholder="Policy Period" value="{{ policy_data.rm_name }}">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="vehicle_type">Vehicle Type</label>
                                <input type="text" class="form-control" name="vehicle_type" id="vehicle_type" placeholder="Vehicle Type" value="{{ policy_data.vehicle_type }}">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="vehicle_make">Make</label>
                                <input type="text" class="form-control" name="vehicle_make" id="vehicle_make" placeholder="Vehicle Make" value="{{ policy_data.vehicle_make }}">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="vehicle_model">Model</label>
                                <input type="text" class="form-control" name="vehicle_model" id="vehicle_model" placeholder="Vehicle Model" value="{{ policy_data.vehicle_model }}">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="gross_weight">Gross Weight</label>
                                <input type="text" class="form-control" name="gross_weight" id="gross_weight" placeholder="Gross Weight" value="{{ policy_data.vehicle_gross_weight }}">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="mgf_year">Manufacture Date</label>
                              <input type="text" class="form-control" name="mgf_year" id="mgf_year" placeholder="MGF Year" value="{{ policy_data.vehicle_manuf_date }}">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="sum_insured">Sum Insured</label>
                              <input type="text" class="form-control" name="sum_insured" id="sum_insured" placeholder="Sum Insured" value="{{ policy_data.sum_insured }}">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="od_premium">OD Premium</label>
                              <input type="text" class="form-control" name="od_premium" id="od_premium" placeholder="OD Premium" value="{{ policy_data.od_premium }}">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="tp_premium">TP Premium</label>
                              <input type="text" class="form-control" name="tp_premium" id="tp_premium" placeholder="TP Premium" value="{{ policy_data.tp_premium }}">
                            </div>

                        </div>
                        
                        <button type="submit" class="btn btn-primary">Save Policy Data</button>
                    </form>
                    <div id="loader" class="form-loader" style="display: none;">
                      <div>
                        <div class="spinner-border text-primary mx-auto d-block" role="status"></div>
                        <span class="visually-hidden d-block pt-2">Loading...</span>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
        
    </div>
    
    {% include "footer.html" %}
    {% include "footer-script.html" %}
    <script>
      document.getElementById("myForm").addEventListener("submit", function() {
          document.getElementById("loader").style.display = "flex";
      });
    </script>
</body>
{% endblock %}
