{% extends 'master.html' %}

{% block title %}
Policy Data
{% endblock %}

{% block content %}
{% load static %}

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  {% include 'navbar.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
   {% include 'sidebar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper white-bg">
    <!-- Content Header (Page header) -->
    <div class="content-header header-content-bg">
      <div class="container-fluid ">
        <div class="row py-2">
          <div class="col-sm-6">
            <h1 class="admin-title m-0 pt-2">Policy Mgt.</h1>
            <ul class="breadcrump">
              <li> <a href="#">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
              <li>Post Policies Mgt</li>
            </ul>
          </div>
          <div class="col-sm-6">
            {% if request.user.role_id == 1 %}
              <div class="d-flex justify-content-end">
                <a href="{% url 'edit-bulk-policy' %}" class="breadcrump-addbtn mx-1">Edit Bulk Policy</a>
                <a href="{% url 'bulk-upload-logs' %}" class="breadcrump-addbtn mx-1">View Bulk Logs</a>
                <a href="{% url 'bulk-policy-mgt' %}" class="breadcrump-addbtn mx-1">Add Bulk Policy</a>
                <a href="{% url 'policy-mgt' %}" class="breadcrump-addbtn mx-1">Add Policy</a>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="#">
              <div class="card counter-img-card active">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      
                      <p class="card-text">
                        Total Policy
                      </p>
                      <h5 class="card-title card-number">{{ policy_count }}</h5>
                    </div>
                    
                  </div>
                </div>
              </div>
            </a>   
          </div>  
          <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="#">
              <div class="card counter-img-card counter-active-card ">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      
                      <p class="card-text">
                        Motor Policy
                      </p>
                      <h5 class="card-title card-number">{{ policy_count }}</h5>
                    </div>
                    
                  </div>
                </div>
              </div>
            </a>  
          </div>  
          <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="#">
              <div class="card counter-img-card counter-deactive-card ">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      
                      <p class="card-text">
                        Health Policy
                      </p>
                      <h5 class="card-title card-number">0</h5>
                    </div>
                    
                  </div>
                </div>
              </div>
            </a>  
          </div>  
          <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="#">
              <div class="card counter-img-card counter-pending-card ">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      
                      <p class="card-text">
                        Term Policy
                      </p>
                      <h5 class="card-title card-number">0</h5>
                    </div>
                    
                  </div>
                </div>
              </div>
            </a>  
          </div>  
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="card box-shadow-none">
              <div class="card-body px-0 pb-0 pt-0">
                <div class="row">
                  <div class="col-md-6">
                    <div class="table-search-area">
                      <!-- <form method="GET" class="d-flex gap-2 align-items-center mb-3">
                        <select class="table-select-field form-select" name="search_field" required>
                            <option value="" disabled {% if not search_field %}selected{% endif %}>Filter By</option>
                            <option value="policy_number" {% if search_field == "policy_number" %}selected{% endif %}>Policy Number</option>
                            <option value="vehicle_number" {% if search_field == "vehicle_number" %}selected{% endif %}>Vehicle Number</option>
                            <option value="holder_name" {% if search_field == "holder_name" %}selected{% endif %}>Holder Name</option>
                            <option value="insurance_provider" {% if search_field == "insurance_provider" %}selected{% endif %}>Insurance Provider</option>
                        </select>
                    
                        <input type="text" name="search_query" class="table-search-field form-control"
                               placeholder="Search" value="{{ search_query|default_if_none:'' }}" required>
                    
                        <button type="submit" class="table-search-btn btn btn-primary">
                            <img src="{% static 'dist/img/svg/search-icon.svg' %}" alt="Search">
                        </button>
                    </form> -->
                    <!-- Filter Start -->
                    <div class="card">
                      <div class="card-body pb-0">
    <form method="get">
      <div class="row align-items-center">

        <!-- Policy Number -->
        <div class="col-6 col-md-2 mb-2">
          <div class="form-group">
            <input class="form-field" name="policy_number" type="text" placeholder="Policy Number" value="{{filters.policy_number }}">
          </div>
        </div>

                 <!-- Vehicle Number -->
        <div class="col-6 col-md-2 mb-2">
          <div class="form-group">
            <input class="form-field" name="vehicle_number" type="text" placeholder="Vehicle Number" value="{{ filters.vehicle_number }}">
          </div>
        </div> 
        
         <!-- Engine Number -->
         <div class="col-sm-6 col-md-2">
          <div class="form-group">
            <input class="form-field" name="engine_number" type="text" placeholder="Engine Number" value="{{ filters.engine_number }}">
          </div>
        </div>

        <!-- Chassis Number -->
        <div class="col-sm-6 col-md-2">
          <div class="form-group">
            <input class="form-field" name="chassis_number" type="text" placeholder="Chassis Number" value="{{ filters.chassis_number }}">
          </div>
        </div>

         <!-- Vehicle Type -->
         <div class="col-sm-6 col-md-2">
          <div class="form-group">
            <input class="form-field" name="vehicle_type" type="text" placeholder="Vehicle Type" value="{{ filters.vehicle_type }}">
          </div>
        </div>

        <!-- Customer Name -->
        <div class="col-sm-6 col-md-2">
          <div class="form-group">
            <input class="form-field" name="customer_name" type="text" placeholder="Customer Name" value="">
          </div>
        </div>

        <!-- Mobile Number -->
        <div class="col-sm-6 col-md-2">
          <div class="form-group">
            <input class="form-field" name="mobile_number" type="text" placeholder="Mobile Number" value="">
          </div>
        </div>

         <!-- Insurance Provider -->
         <div class="col-sm-6 col-md-2">
          <div class="form-group">
            <input class="form-field" name="insurance_provider" type="text" placeholder="Insurance Provider" value="{{ filters.insurance_provider }}">
          </div>
        </div>

        <!-- Buttons -->
        <div class="col-sm-6 col-md-2">
          <div class="form-group d-flex">
            <button type="submit" class="wrap-btn w-100 mr-2">Apply</button>
            <a href="{% url 'policy-data' %}" class="wrap-btn w-100 bg-danger text-white text-center">Reset</a>
          </div>
        </div>
        <!--filter ends-->
                    
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class=" d-flex justify-content-end">
                      <div class="dropdown">
                        <div class="shorting-select"  data-toggle="dropdown" aria-expanded="false">
                          <img src="{% static 'dist/img/svg/shorting-icon.svg' %}" alt="">
                          <span>Short</span>
                          <img src="{% static 'dist/img/svg/down-arrow-icon.svg' %}" alt="" class="change-arrow">
                        </div>
                        <form action="">
                          <ul class="dropdown-menu shorting-dropdown-menu">
                            <p class="border-bottom pb-1 title2">Short</p>
                            <li><input type="radio" name="shorting" id="name-a_z"> <label for="name-a_z">Name A &gt; Z</label></li>
                            <li><input type="radio" name="shorting" id="name-z_a"> <label for="name-z_a">Name Z &lt; A</label></li>
                            <li><input type="radio" name="shorting" id="recently_activated"> <label for="recently_activated">Recently Activated</label></li>
                            <li><input type="radio" name="shorting" id="recently_deactivated"> <label for="recently_deactivated">Recently Deactivated</label></li>
                            <div class="d-flex justify-content-center border-top pt-3 mt-2 pb-2">
                              <button type="submit" class="dashboard-addbtn w-100">Apply</button>
                            </div>   
                          </ul>
                        </form>
                      </div>  
                      <div class="shorting-select" data-toggle="modal" data-target="#modal-filter">
                        <img src="{% static 'dist/img/svg/filter-icon.svg' %}" alt="">
                        <span>Filter</span>
                        <img src="{% static 'dist/img/svg/down-arrow-icon.svg' %}" alt="" class="change-arrow">
                      </div>
                    </div>  
                  </div>
                </div>  
                <ul class="nav nav-pills profile-tab">
                  <li class="nav-item text-bold">
                      <a class="nav-link active" href="#">MOTOR</a>
                  </li>
                  <li class="nav-item text-bold">
                      <a class="nav-link " href="#">HEALTH</a>
                  </li>
                  <li class="nav-item text-bold">
                      <a class="nav-link " href="#">TERM</a>
                  </li>
                </ul>
                <div class="tab-content" id="nav-tabContent">
                    <div class="table-responsive">
                     
                      <table class="table table-design policy-data-table-width">
                        <thead class="table-thead-bg-light table-header-fix">
                          <tr>
                            <th class="nowrap">Insurance Co.</th>
                            <!-- <th class="nowrap">Reg. No.</th> -->
                            <th class="nowrap">Holder</th>
                            <!-- <th class="nowrap">Policy No.</th> -->
                            <th class="nowrap">Policy Type</th>
                            <th class="nowrap">Date</th>
                            <!-- <th class="nowrap">Start Date</th>
                            <th class="nowrap">Expiry Date</th> -->
                            <th class="nowrap">Premium</th>
                            <!-- <th class="nowrap">Gross Premium</th>
                            <th class="nowrap">OD Premium</th>
                            <th class="nowrap">TP Premium</th> -->
                            <th class="nowrap">GST</th>
                            <th class="nowrap">RM Name</th>
                            <th class="nowrap">Payment</th>
                            <th class="nowrap">Vehicle Type</th>
                            <th class="nowrap">Make/Model</th>
                            <th class="nowrap">Gross Weight</th>
                            <th class="nowrap">Sum Insured</th>
                            <th class="nowrap">Manufacture Year</th>
                            <th class="nowrap">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for data in page_obj %}
                            <tr>
                              <td>
                                <div class="d-flex align-items-start">
                                  <div>
                                    <span class="d-block">{{ data.insurance_provider }}</span>
                                    <span class="text-info d-inline-block"><strong>Policy No.:</strong> {{ data.policy_number|default:"-" }}</span>
                                  </div>  
                                  <a href="{% url 'edit-policy' id=data.id %}" class="tooltip-sec ml-2 text-danger" data-title="Edit Policy">
                                    <i class="fa-solid fa-edit"></i>
                                  </a>
                                </div>  
                              </td>
                              <!-- <td>{{ data.vehicle_number }}</td> -->
                              <td>
                                <div class="d-flex align-items-start">
                                  <div>
                                    <span class="d-block">{{ data.holder_name }}</span>
                                    <span class="d-block "><strong>Reg. No.</strong> {{ data.vehicle_number }}</span>
                                  </div>  
                                </div>  
                              <td>{{ data.policy_type|default:"-" }}</td>
                              <td>
                                <span class="circle-icon"><i class="far fa-circle"></i></span><strong>Issue:</strong> {{ data.issue_date|default:"-" }} <br>
                                <span class="circle-icon"><i class="far fa-circle"></i></span><strong>Start:</strong> {{ data.start_date|default:"-" }}<br>
                                <span class="circle-icon"><i class="far fa-circle"></i></span><strong>Expiry:</strong> {{ data.expiry_date|default:"-" }}
                                

                              </td>
                              <!-- <td>{{ data.start_date|default:"-" }}</td>
                              <td>{{ data.expiry_date|default:"-" }}</td> -->
                              <td>
                                <span class="circle-icon"><i class="far fa-circle"></i></span> <strong>Net:</strong> <i class="fa-solid fa-indian-rupee-sign"></i> {{ data.policy_premium }} <br>
                                <span class="circle-icon"><i class="far fa-circle"></i></span> <strong>Gross:</strong> <i class="fa-solid fa-indian-rupee-sign"></i> {{ data.policy_total_premium }} <br>
                                <span class="circle-icon"><i class="far fa-circle"></i></span> <strong>OD:</strong> <i class="fa-solid fa-indian-rupee-sign"></i> {{ data.od_premium }} <br>
                                <span class="circle-icon"><i class="far fa-circle"></i></span> <strong>TP:</strong> <i class="fa-solid fa-indian-rupee-sign"></i> {{ data.tp_premium }}
                              </td>
                              <!-- <td>{{ data.policy_total_premium }}</td>
                              <td>{{ data.od_premium }}</td>
                              <td>{{ data.tp_premium }}</td> -->
                              <td>{{ data.gst }}</td>
                              <td>{{ data.rm_name }}</td>
                              <td>{{ data.payment_status|default:"Not Paid" }}</td>
                              <td>{{ data.vehicle_type|default:"-" }}</td>
                              <td>{{ data.vehicle_make|default:"-" }} / {{ data.vehicle_model|default:"-" }} </td>
                              <td>{{ data.vehicle_gross_weight|default:"-" }}</td>
                              <td> {{ data.sum_insured|default:"-" }}</td>
                              <td>{{ data.vehicle_manuf_date|default:"-" }}</td>
                              <td>
                                <div class="d-flex">
                                  <a href="{{ data.filepath }}" class="tooltip-sec mx-2 text-success" data-title="Download {{ data.filename }}" target="_blank" download><i class="fas fa-download"></i></a>
                                  <a href="{% url 'edit-policy' id=data.id %}" class="tooltip-sec" data-title="Edit Policy">
                                    <i class="fa-solid fa-edit"></i>
                                  </a>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                </div>
              </div>
            </div>
            
            

            
            <div class="bottom-fix-pagination">
              <div class="d-flex justify-content-between align-items-center">
                  <ul class="pagination">
                      {% if page_obj.has_previous %}
                          <li class="page-item">
                              <a class="page-link" href="?page=1&per_page={{ per_page }}" aria-label="First">
                                  <span aria-hidden="true">&laquo;&laquo;</span>
                              </a>
                          </li>
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.previous_page_number }}&per_page={{ per_page }}" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                              </a>
                          </li>
                      {% endif %}
      
                      {% for num in page_obj.paginator.page_range %}
                          <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                              <a class="page-link" href="?page={{ num }}&per_page={{ per_page }}">{{ num }}</a>
                          </li>
                      {% endfor %}
      
                      {% if page_obj.has_next %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.next_page_number }}&per_page={{ per_page }}" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                              </a>
                          </li>
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&per_page={{ per_page }}" aria-label="Last">
                                  <span aria-hidden="true">&raquo;&raquo;</span>
                              </a>
                          </li>
                      {% endif %}
                  </ul>
      
                  <form method="GET" class="d-flex">
                      <select class="pagination-dropdown form-select" name="per_page" onchange="this.form.submit()">
                          <option value="10" {% if per_page == 10 %}selected{% endif %}>10 / Page</option>
                          <option value="20" {% if per_page == 20 %}selected{% endif %}>20 / Page</option>
                          <option value="50" {% if per_page == 50 %}selected{% endif %}>50 / Page</option>
                          <option value="100" {% if per_page == 100 %}selected{% endif %}>100 / Page</option>
                      </select>
                      <input type="hidden" name="page" value="1">
                  </form>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.content-wrapper -->

<!-- Main Footer -->
{% include 'footer.html' %}

</div>
<!-- ./wrapper -->

{% include 'footer-script.html' %}
</body>

{% endblock %}