{% extends 'master.html' %}

{% load static %}

{% block title %}
Policy Management
{% endblock %}

{% block content %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
        {% include "navbar.html" %}
        {% include "sidebar.html" %}
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header breadcrump-bg">
          <div class="container-fluid">
            <div class="row py-2">
              <div class="col-sm-12 col-md-6">
                <h2 class="admin-title m-0 pt-2 text-dark">Browse Policy </h2>
                <ul class="breadcrump">
                  <li> <a href="#">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                  <li>Post Policies Mgt</li>
                </ul>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="d-flex align-items-center justify-content-end">
                  <div>
                    <a href="{% url 'bulk-upload-logs' %}" class="breadcrump-addbtn mx-1">View Bulk Logs</a>
                    <a href="{% url 'bulk-policy-mgt' %}" class="breadcrump-addbtn mx-1">Add Bulk Policy</a>
                    <a href="{% url 'policy-data' %}" class="breadcrump-addbtn mx-1">View Policy</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              
              <div class="col-sm-12">  
                <div class="card box-shadow-none p-md-5 p-3">
                  <div class="card-body px-0 pb-0 pt-0">
                    
                    <form autocomplete="off" name="browsePolicy" id="myForm" action="{% url 'browser-policy' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group ">
                                <label class="form-lbl" for="image">Upload Policy</label>
                                <input type="file" class="form-field" name="image" id="image" accept="application/pdf">

                                <span class="error image_err"></span>
                                {% if form.image.errors %}
                                    <span class="text-danger">{{ form.image.errors.0 }}</span>
                                {% endif %}
                                <p class="text-gray small pt-2">Only PDF allowed and max size 2 mb allowed</p>
                            </div>
                          </div>  
                          <div class="col-sm-12">
                            <div class="d-flex justify-content-end">
                              <button type="submit" class="form-submit-btn" id="submitButton">Upload Policy</button>
                            </div> 
                          </div>
                        </div>
                        
                        
                    </form>
                  </div>
                  <div id="loader" class="form-loader" style="display: none;">
                    <div>
                      <!-- <img src="{% static 'dist/img/guanxian.gif' %}" alt=""> -->
                      <div class="spinner-border text-primary mx-auto d-block" role="status"></div>
                      <span class="visually-hidden d-block pt-2">Loading...</span>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
    
    {% include "footer.html" %}
    {% include "footer-script.html" %}
    

    <script>
      document.getElementById("myForm").addEventListener("submit", function() {
          document.getElementById("loader").style.display = "flex";
      });
    </script>
</body>
{% endblock %}
