{% extends 'master.html' %}

{% block title %}
Policy Data
{% endblock %}

{% block content %}
{% load static %}

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  {% include 'navbar.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
   {% include 'sidebar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper white-bg">
    <!-- Content Header (Page header) -->
    <div class="content-header breadcrump-bg">
      <div class="container-fluid ">
        <div class="row py-2">
          <div class="col-sm-12">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <a href="javascript:void(0)" class="admin-title m-0 pt-2 text-dark">Policy Data </a>
                <ul class="breadcrump">
                  <li> <a href="#">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                  <li>Post Policies Mgt</li>
              </ul>
              </div>
              <div>
                <a href="{% url 'bulk-upload-logs' %}" class="breadcrump-addbtn mx-1">View Bulk Logs</a>
                <a href="{% url 'bulk-policy-mgt' %}" class="breadcrump-addbtn mx-1">Add Bulk Policy</a>
                <a href="{% url 'policy-mgt' %}" class="breadcrump-addbtn mx-1">Add Policy</a>
                <!-- <a href="{% url 'export-policy' %}" class="breadcrump-addbtn mx-1">Export</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="card box-shadow-none">
              <div class="card-body px-0 pb-0 pt-0">
                <div class="tab-content" id="nav-tabContent">
                    <div class="table-responsive table-ht">
                     
                      <table class="table table-design policy-data-table-width">
                        <thead class="table-thead-bg-light table-header-fix">
                          <tr>
                            <th class="nowrap">Insurance Co.</th>
                            <th class="nowrap">Reg. No.</th>
                            <th class="nowrap">Holder</th>
                            <th class="nowrap">Policy No.</th>
                            <th class="nowrap">Policy Type</th>
                            <th class="nowrap">Issue Date</th>
                            <th class="nowrap">Start Date</th>
                            <th class="nowrap">Expiry Date</th>
                            <th class="nowrap">Net Premium</th>
                            <th class="nowrap">Gross Premium</th>
                            <th class="nowrap">OD Premium</th>
                            <th class="nowrap">TP Premium</th>
                            <th class="nowrap">GST</th>
                            <th class="nowrap">RM Name</th>
                            <th class="nowrap">Payment</th>
                            <th class="nowrap">Vehicle Type</th>
                            <th class="nowrap">Make/Model</th>
                            <th class="nowrap">Gross Weight</th>
                            <th class="nowrap">Sum Insured</th>
                            <th class="nowrap">Manufacture Year</th>
                            <th class="nowrap">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for data in policy_data %}
                            <tr>
                              <td>{{ data.insurance_provider }}</td>
                              <td>{{ data.vehicle_number }}</td>
                              <td>{{ data.holder_name }}</td>
                              <td>{{ data.policy_number|default:"-" }} </td>
                              <td>{{ data.policy_type|default:"-" }}</td>
                              <td>{{ data.issue_date|default:"-" }}</td>
                              <td>{{ data.start_date|default:"-" }}</td>
                              <td>{{ data.expiry_date|default:"-" }}</td>
                              <td>{{ data.policy_premium }}</td>
                              <td>{{ data.policy_total_premium }}</td>
                              <td>{{ data.od_premium }}</td>
                              <td>{{ data.tp_premium }}</td>
                              <td>{{ data.gst }}</td>
                              <td>{{ data.rm_name }}</td>
                              <td>{{ data.payment_status|default:"Not Paid" }}</td>
                              <td>{{ data.vehicle_type|default:"-" }}</td>
                              <td>{{ data.vehicle_make|default:"-" }} / {{ data.vehicle_model|default:"-" }} </td>
                              <td>{{ data.vehicle_gross_weight|default:"-" }}</td>
                              <td> {{ data.sum_insured|default:"-" }}</td>
                              <td>{{ data.vehicle_manuf_date|default:"-" }}</td>
                              <td>
                                <div class="d-flex">
                                  <a href="{{ data.filepath }}" class="tooltip-sec mx-2" data-title="Download {{ data.filename }}" target="_blank" download><i class="fas fa-download"></i></a>
                                  <a href="{% url 'edit-policy' id=data.id %}" class="tooltip-sec" data-title="Edit Policy">
                                    <i class="fa-solid fa-edit"></i>
                                  </a>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.content-wrapper -->

<!-- Main Footer -->
{% include 'footer.html' %}

</div>
<!-- ./wrapper -->

{% include 'footer-script.html' %}
</body>

{% endblock %}