{% extends 'master.html' %}
{% load static %}

{% block title %}
Insurance - {% if insurance %}Edit Insurance{% else %}Create Insurance{% endif %}
{% endblock %}

{% block content %}
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {% include "navbar.html" %}
        {% include "sidebar.html" %}

        <!-- Content Wrapper -->
        <div class="content-wrapper">
            <!-- Breadcrumb -->
            <div class="content-header breadcrump-bg">
                <div class="container-fluid">
                    <div class="row py-2">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <a href="javascript:void(0)" class="admin-title m-0 pt-2 text-dark">
                                    {% if insurance %}Edit Insurance{% else %}Create Insurance{% endif %}
                                </a>
                            </div>
                            <ul class="breadcrump">
                                <li><a href="#">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                                <li><a href="#">Insurance</a> <i class="fas fa-chevron-right"></i></li>
                                <li>{% if insurance %}Edit Insurance{% else %}Create Insurance{% endif %}</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex justify-content-end">
                                <a href="{% url 'insurance_index' %}" class="breadcrump-addbtn">
                                    <i class="fas fa-arrow-left"></i> Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Form Card -->
                            <div class="card box-shadow-none p-md-5 p-3">
                                <div class="card-body px-0 pb-0 pt-0">
                                    <form autocomplete="off" id="insuranceForm" name="insuranceForm"
                                          action="{% if insurance %}{% url 'insurance_edit' insurance.id %}{% else %}{% url 'create_insurance' %}{% endif %}"
                                          method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <!-- Insurance Company -->
                                            <div class="form-group col-sm-6 col-md-4">
                                                <label class="form-lbl" for="insurance_company">Insurance Company</label>
                                                <input type="text" class="form-field" name="insurance_company" id="insurance_company"
                                                       placeholder="Enter Insurance Company Name"
                                                       value="{{ insurance.insurance_company|default:'' }}" required>
                                                <span class="error insurance_company_err"></span>
                                            </div>
                                        </div>
                                        <!-- Submit Button -->
                                        <div class="d-flex justify-content-end">
                                            <button type="submit" class="form-submit-btn">
                                                {% if insurance %}Update Insurance{% else %}Save Insurance{% endif %}
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "footer.html" %}
        {% include "footer-script.html" %}
    </div>
</body>
{% endblock %}
