{% extends 'master.html' %}
{% load static %}
{% block title %}
  Login
{% endblock %}

{% block content %}
  <body class="hold-transition sidebar-mini layout-fixed">
    <section class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-sm-12 col-md-6 col-xl-5 pr-md-0">
          <div class="login-leftside">
            <div>
              <img src="{% static 'dist/img/logo.png' %}" alt="" class="login-leftside-logo" />
              <h2 class="admin-login-hding">Welcome Back</h2>
              <p class="login-lftac">Please register your account</p>
              <form action="{% url 'register' %}" method="post" class="mt-4 pt-2" autocomplete="off">
                {% csrf_token %}
                
                
                    <div class="row">
                        <!-- Full Name Field -->
                        <div class="col-sm-12">
                            <div id="">
                                <label class="admin-login-lbl">Full Name</label>
                                <div class="form-group posrel">
                                    <input type="text" name="full_name" class="admin-login-field" placeholder="Full Name" required />
                                    <span class="error full_name_err"></span>
                                </div>
                            </div>
                
                            <!-- Gender Field -->
                            <div id="gender_div">
                                <label class="admin-login-lbl">Gender</label>
                                <div class="form-group posrel">
                                    <select name="gender" class="admin-login-field" required>
                                        <option value="" disabled selected>Select Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                    <span class="error gender_err"></span>
                                </div>
                            </div>
                
                            <!-- Email Field -->
                            <div id="">
                                <label class="admin-login-lbl">Email Address</label>
                                <div class="form-group posrel">
                                    <input type="email" name="email" class="admin-login-field email" placeholder="Email Address" required />
                                    <span class="error email_err"></span>
                                </div>
                            </div>
                
                            <!-- Mobile Number Field -->
                            <div id="">
                                <label class="admin-login-lbl">Mobile Number</label>
                                <div class="form-group posrel">
                                    <input type="text" name="mobile" class="admin-login-field mobile" maxlength="10" placeholder="Mobile Number" required />
                                    <span class="error mobile_err"></span>
                                </div>
                            </div>
                
                            <!-- Password Field -->
                            <div id="password_div">
                                <label class="admin-login-lbl">Password</label>
                                <div class="form-group posrel">
                                    <input type="password" name="password" class="admin-login-field" placeholder="Enter password" id="login_password_id" autocomplete="off" required />
                                    <span class="inputicon-right showhide-password" onclick="seePassword()"><i class="fas fa-eye"></i></span>
                                    <span class="error password_err"></span>
                                </div>
                            </div>
                        </div>
                
                        <!-- Remember Me Option -->
                        <div class="col-12 col-sm-6">
                            <input type="checkbox" name="rememberme" id="rememberme" class="rememberme" />
                            <label for="rememberme">Remember me</label>
                        </div>
                
                        <!-- Forgot Password Link -->
                        <div class="col-12 col-sm-6">
                            <a href="#" class="forgotxt text-right">Forgot Password?</a>
                        </div>
                
                        <!-- Display Error Messages -->
                        {% if messages %}
                            <div class="alert alert-danger col-sm-12">
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                
                        <!-- Submit Button -->
                        <div class="col-sm-12">
                            <button type="submit" class="admin-login-btn w-100 mt-4">Sign Up</button>
                        </div>
                    </div>
                </form>
                    
                <div class="col-sm-12 text-center mt-3">
                    <p>Already a member? <a href="{% url 'login' %}" class="text-primary">Click here to login</a></p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 pl-md-0 d-none d-md-block">
          <div class="login-rightside">
            <span class="login-right-circlbg"></span>
            <div class="login-ritetxt-area">
              <h1 class="admin-lr-hding">Welcome to NetInsurancePro</h1>
              <p class="admin-lr-prgh">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <span class="login-rightbot-circlbg"></span>
          </div>
        </div>
      </div>
    </section>
    <p class="admin-powered-by">
      Powered by <a href="#">Netleaf Software</a>
    </p>
    
    {% include "footer-script.html" %}

    <script type="text/javascript">
        function seePassword() {
          var passwordInput = document.getElementById('login_password_id')
          if (passwordInput.type === 'password') {
            passwordInput.type = 'text'
          } else {
            passwordInput.type = 'password'
          }
        }
        $('.showhide-password').click(function () {
          $('.showhide-password i').toggleClass('fa-eye fa-eye-slash')
        })
        
    </script>
  </body>
{% endblock %}
