{% extends 'master.html' %}

{% load static %}

{% block title %}
Policy Management
{% endblock %}

{% block content %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
        {% include "navbar.html" %}
        {% include "sidebar.html" %}
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header breadcrump-bg">
          <div class="container-fluid">
            <div class="row py-2">
              <div class="col-sm-6">
                <div class="d-flex align-items-center">
                  <a href="javascript:void(0)" class="admin-title m-0 pt-2 text-dark">Browse Policy</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              
              <div class="col-sm-12">  
                <div class="card box-shadow-none p-md-5 p-3">
                  <div class="card-body px-0 pb-0 pt-0">
                    {% if messages %}
                      <div class="success success-danger">
                        {% for message in messages %}
                          <p>{{ message }}</p>
                        {% endfor %}
                      </div>
                    {% endif %}
                    <form autocomplete="off" id="myForm" name="browsePolicy" action="{% url 'bulk-browser-policy' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="zip_file">Upload ZIP File</label>
                                <input type="file" class="form-control" name="zip_file" id="zip_file" accept=".zip">
                                <span class="error zip_file_err"></span>
                                {% if form.zip_file.errors %}
                                    <span class="text-danger">{{ form.zip_file.errors.0 }}</span>
                                {% endif %}
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="camp_name">Campaign Name</label>
                                <input type="text" class="form-control" name="camp_name" id="camp_name" placeholder="Campaign Name">
                                <span class="error camp_name_err"></span>
                                {% if form.camp_name.errors %}
                                    <span class="text-danger">{{ form.camp_name.errors.0 }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Upload ZIP</button>
                    </form>
                    
                  </div>
                  <div id="loader" class="form-loader" style="display: none;">
                    <div>
                      <div class="spinner-border text-primary mx-auto d-block" role="status"></div>
                      <span class="visually-hidden d-block pt-2">Loading...</span>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
   
    {% include "footer.html" %}
    {% include "footer-script.html" %}
    <script>
        document.getElementById("myForm").addEventListener("submit", function() {
            document.getElementById("loader").style.display = "flex";
        });
      </script>
</body>
{% endblock %}
