{% extends 'master.html' %}

{% load static %}

{% block title %}
Add Members
{% endblock %}

{% block content %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
        {% include "navbar.html" %}
        {% include "sidebar.html" %}
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header breadcrump-bg">
          <div class="container-fluid">
            <div class="row py-2">
              <div class="col-sm-6">
                <div class="d-flex align-items-center">
                  <a href="javascript:void(0)" class="admin-title m-0 pt-2 text-dark">Add Members</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              
              <div class="col-sm-12">  
                <div class="card box-shadow-none p-md-5 p-3">
                  <div class="card-body px-0 pb-0 pt-0">
                    {% if messages %}
                      <div class="alert alert-danger">
                        {% for message in messages %}
                          <p>{{ message }}</p>
                        {% endfor %}
                      </div>
                    {% endif %}

                    <form autocomplete="off" id="myForm" name="updateUser" action="/update-user/" method="post">
                        {% csrf_token %}
                        <input type="hidden" class="form-control" name="user_id" id="user_id" value="{{ user_data.id }}">
                        
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="username">User Name</label>
                                <input type="text" class="form-control username" name="username" id="username" placeholder="Username" value="{{ user_data.user_name }}">
                                <span class="error username_err"></span>
                            </div>
                            
                            <div class="form-group col-sm-6">
                                <label for="first_name">First Name</label>
                                <input type="text" class="form-control firstname" name="first_name" id="first_name" placeholder="First Name" value="{{ user_data.first_name }}">
                                <span class="error first_name_err"></span>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="last_name">Last Name</label>
                                <input type="text" class="form-control name" name="last_name" id="last_name" placeholder="Last Name" value="{{ user_data.last_name }}">
                                <span class="error last_name_err"></span>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="email">Email</label>
                                <input type="text" class="form-control email" name="email" id="email" placeholder="Email" value="{{ user_data.email }}">
                                <span class="error email_err"></span>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control mobile" name="phone" id="phone" placeholder="Phone" maxlength="10" value="{{ user_data.phone }}">
                                <span class="error phone_err"></span>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="role">Role</label>
                                <select class="form-control" name="role" id="role">
                                    <option value="">Select Role</option>
                                    {% if role_data %}
                                        {% for rl in role_data %}
                                            <option value="{{ rl.id }}" {% if rl.id == user_data.role_id %}selected{% endif %}>
                                                {{ rl.roleName }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save Role</button>
                    </form>
                  </div>
                  <div id="loader" class="form-loader" style="display: none;">
                    <div>
                      <div class="spinner-border text-primary mx-auto d-block" role="status"></div>
                      <span class="visually-hidden d-block pt-2">Loading...</span>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
    
    {% include "footer.html" %}
    {% include "footer-script.html" %}
    <script>
      document.getElementById("myForm").addEventListener("submit", function() {
          document.getElementById("loader").style.display = "flex";
      });
    </script>
</body>
{% endblock %}
