{% extends 'master.html' %}

{% block title %}
Policy Data
{% endblock %}

{% block content %}
{% load static %}

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  {% include 'navbar.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
   {% include 'sidebar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper white-bg">
    <!-- Content Header (Page header) -->
    <div class="content-header breadcrump-bg">
      <div class="container-fluid ">
        <div class="row py-2">
          <div class="col-sm-12">
            <div class="d-flex align-items-center justify-content-between">
              <a href="javascript:void(0)" class="admin-title m-0 pt-2 text-dark">Policy Data </a>
              <a href="{% url 'export-policy' %}" class="breadcrump-addbtn">Export</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="card box-shadow-none">
              <div class="card-body px-0 pb-0 pt-0">
                <div class="tab-content" id="nav-tabContent">
                    <div class="table-responsive table-ht">
                      {% if messages %}
                        {% for message in messages %}
                          <p>{{ message }}</p>
                        {% endfor %}
                      {% endif %}
                      <table class="table table-design table-width-design">
                        <thead class="table-thead-bg-light table-header-fix">
                          <tr>
                            <th class="nowrap">Insurance Co.</th>
                            <th class="nowrap">Reg. No.</th>
                            <th class="nowrap">Holder</th>
                            <th class="nowrap">Policy</th>
                            <th class="nowrap">Premium</th>
                            <th class="nowrap">RM</th>
                            <th class="nowrap">Payment</th>
                            <th class="nowrap">Vehicle Details</th>
                            <th class="nowrap">Manufacture Year</th>
                            <th class="nowrap">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for data in policy_data %}
                            <tr>
                              <!-- Insurance Co. -->
                              <td>{{ data.insurance_provider }}</td>
                      
                              <!-- Registration Number -->
                              <td>{{ data.vehicle_number }}</td>
                      
                              <!-- Holder Name -->
                              <td>{{ data.holder_name }}</td>
                      
                              <!-- Policy -->
                              <td>
                                <span class="text-muted fw-bold">Policy Number</span>{{ data.policy_number|default:"-" }} <br>
                                <span class="text-muted fw-bold">Policy Type</span>{{ data.policy_type|default:"-" }} <br>
                                <span class="text-muted fw-bold">Issue Date</span>{{ data.policy_issue_date|default:"-" }} <br>
                                <span class="text-muted fw-bold">Start Date</span>{{ data.start_date|default:"-" }} <br>
                                <span class="text-muted fw-bold">Expriy Date</span>{{ data.policy_expiry_date|default:"-" }}
                              </td>
                      
                              <!-- Premium (Gross and Net) -->
                              <td>
                                <span class="text-muted fw-bold"> Gross Premium: </span> {{ data.policy_premium }} <br>
                                <span class="text-muted fw-bold"> Net Premium: </span> {{ data.policy_total_premium }}
                                <span class="text-muted fw-bold"> OD Premium: </span> {{ data.od_premium }}
                                <span class="text-muted fw-bold"> TP Premium: </span> {{ data.tp_premium }}
                                <span class="text-muted fw-bold"> GST: </span> {{ data.gst }}
                              </td>
                      
                              <!-- RM Name -->
                              <td>{{ data.rm_name }}</td>
                      
                              <!-- Payment Status -->
                              <td>{{ data.payment_status|default:"Not Paid" }}</td>
                      
                              <!-- Policy Type -->
                              <!-- <td></td> -->
                      
                              <!-- Vehicle Details -->
                              <td>
                                <div><strong>Type:</strong> {{ data.vehicle_type|default:"-" }}</div>
                                <div><strong>Make/Model:</strong> {{ data.vehicle_make|default:"-" }} / {{ data.vehicle_model|default:"-" }}</div>
                                <div><strong>Gross Weight:</strong> {{ data.vehicle_gross_weight|default:"-" }}</div>
                                <div><strong>Sum Insured:</strong> {{ data.sum_insured|default:"-" }}</div>
                                <div><strong>GST:</strong> {{ data.gst|default:"-" }}</div>
                              </td>
                      
                              <!-- Manufacture Date -->
                              <td>{{ data.vehicle_manuf_date|default:"-" }}</td>
                      
                              <!-- Actions (Download & Edit) -->
                              <td>
                                <a href="{{ data.filepath }}" class="tooltip-sec" data-title="Download Policy" target="_blank" download>{{ data.filename }}</a>
                                <a href="{% url 'edit-policy' id=data.id %}" class="circle-arrow-link tooltip-sec" data-title="Edit Policy">
                                  <i class="fa-solid fa-chevron-right"></i>
                                </a>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.content-wrapper -->

<!-- Main Footer -->
{% include 'footer.html' %}

</div>
<!-- ./wrapper -->

{% include 'footer-script.html' %}
</body>

{% endblock %}