{% extends 'master.html' %}

{% load static %}

{% block title %}
{% if lead %}Edit Lead{% else %}Add New Lead{% endif %}
{% endblock %}

{% block content %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
        {% include "navbar.html" %}
        {% include "sidebar.html" %}
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header breadcrump-bg">
          <div class="container-fluid">
            <div class="row py-2">
              <div class="col-sm-6">
                <div class="d-flex align-items-center">
                  <a href="javascript:void(0)" class="admin-title m-0 pt-2 text-dark">Lead Mgt</a>
                </div>
                <ul class="breadcrump">
                  <li> <a href="{% url 'dashboard' %}">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                  <li> <a href="{% url 'leads-mgt' %}">Lead Mgt</a> <i class="fas fa-chevron-right"></i></li>
                  <li>Edit Lead : <strong>#{{lead_data.lead_id|default:"-"}}</strong></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              
              <div class="col-sm-12">  
                <div class="card box-shadow-none p-md-4 p-3">
                  <div class="card-body px-0 pb-0 pt-0">
                    <ul class="stepflow-text stepflow-five-col mt-0">
                      <li class="active"><a href="#">Insurance Info</a></li>
                      <li class="active"><a href="#">Basic Info</a></li>
                      <li class="active"><a href="#">Lead Source Info</a></li>
                      <li><a href="#">Location Info</a></li>
                      <li><a href="#">Assignment</a></li>
                      <li><a href="#">Previous Policy Information</a></li>
                    </ul>
                    <ul class="new-stepflow mb-2">
                      <li class="active"></li>
                      <li class="active"></li>
                      <li class="active"></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">  
                <div class="card box-shadow-none p-md-4 p-3">
                  <div class="card-body px-0 pb-0 pt-0">
                      
                    <form autocomplete="off" id="leadFormA" name="leadFormA" action="{% url 'save-lead-location-info' %}" method="post">
                      {% csrf_token %}

                      <input type="hidden" id="lead_ref_id" name="lead_ref_id" value="{{lead_data.lead_id}}">
                      <div class="row">
                          <div class="col-md-12">
                            <h2 class="admin-title border-bottom pb-2 mb-4">Location Info</h2>
                          </div>
                          <div class="form-group col-md-4">
                            <label class="form-lbl" for="state">State</label>
                            <!--<select class="form-field" name="state" id="state">
                                <option value="">Select State</option>
                                {% for s in states %}
                                    <option value="{{ s.name }}" {% if lead and lead.state == s.name %}selected{% endif %}>
                                        {{ s.name }}
                                    </option>
                                {% endfor %}
                            </select>-->
                            <input type="hidden" name="state_id" id="state_id" value="{{lead_data.state_id}}">
                            <select class="form-field" name="state" id="state">
                              <option value="">Select State</option>
                              {% for state in states %}
                                <option value="{{ state.id }}" {% if state.id|stringformat:"s" == lead_data.state_id|stringformat:"s" %}selected{% endif %}>{{ state.name }}</option>
                              {% endfor %}
                            </select>
                          </div>

                          <input type="hidden" name="city_id" id="city_id" value="{{lead_data.city_id}}">
                          <div class="form-group col-md-4">
                            <label class="form-lbl" for="city">City</label>
                            <!--<select class="form-field" name="city" id="city">
                                {% if lead %}
                                    <option value="{{ lead.city }}" selected>{{ lead.city }}</option>
                                {% else %}
                                    <option value="">Select City</option>
                                {% endif %}
                            </select>-->
                            <select class="form-field" name="city" id="city">
                              <option value="">Select City</option>
                              <option value="1">City 1</option>
                              <option value="2">City 2</option>
                            </select>
                            
                          </div>
                          <div class="form-group col-md-4">
                            <label class="form-lbl" for="pincode">Pincode</label>
                            <input type="text" class="form-field number" name="pincode" id="pincode" maxlength="6" pattern="[0-9]{6}"
                                  placeholder="Enter Pincode" value="{{ lead_data.pincode|default_if_none:'' }}">
                          </div>
                          
                        
                        <script>
                        function toggleReferralBy() {
                            var leadSource = document.getElementById("lead_source").value;
                            var referralDiv = document.getElementById("referral_by_div");
                            var posPartnerDiv = document.getElementById("pos_partner_div");
                            if (leadSource === "referral_partner") {
                                referralDiv.style.display = "block";
                                posPartnerDiv.style.display = "none";
                            }else if (leadSource === "pos_partner") {
                                posPartnerDiv.style.display = "block";
                                referralDiv.style.display = "none";
                            } else {
                                posPartnerDiv.style.display = "none";
                                referralDiv.style.display = "none";
                            }
                        }
                        
                        // Run once on page load in case of pre-selected value
                        document.addEventListener("DOMContentLoaded", function() {
                            toggleReferralBy();
                        });
                        </script>
                        
                      </div>
                      <div class="d-flex justify-content-end">
                        <button type="submit" class="form-submit-btn mt-3">
                            {% if lead %}Update Lead{% else %}Add Lead{% endif %}
                        </button>
                      </div>  
                    </form>
                    
                  </div>
                  <div id="loader" class="form-loader" style="display: none;">
                    <div>
                      <div class="spinner-border text-primary mx-auto d-block" role="status"></div>
                      <span class="visually-hidden d-block pt-2">Loading...</span>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
        
    </div>
    
    {% include "footer.html" %}
    {% include "footer-script.html" %}
   

  <script>

    function loadCities(stateName, selectedCity = null) {
    $('#city').html('<option value="">Loading cities...</option>');
    if (stateName) {
        $.ajax({
            url: "{% url 'get_cities' %}",
            data: {
                'state_id': stateName
            },
            success: function (data) {
                console.log(data);
                options = '';
                $.each(data.cities, function (index, city) {
                  if (selectedCity == city.id) {
                      options += `<option value="${city.id}" selected>${city.city}</option>`;
                  } else {
                      options += `<option value="${city.id}">${city.city}</option>`;
                  }
                });
                $('#city').html(options);
            }
        });
    } else {
        $('#city').html('<option value="">Select City</option>');
    }
}
  $(document).ready(function () {
        const selectedState = $('#state_id').val();
        const selectedCity = $('#city_id').val();

        // Always load cities if state is selected (even if city is not)
        if (selectedState) {
            loadCities(selectedState, selectedCity);
        }

        $('#state').change(function () {
            const stateName = $(this).val();
            loadCities(stateName);
        });
    });
</script>
</body>
{% endblock %}
