{% load static %}

<meta charset="utf-8">
<title>Net Insurance</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="{% static 'home/assets/image/favicon.png' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<header>
<div class="container">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="./">
            <img src="{% static 'home/assets/image/logo.png' %}" alt="" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-i tems-margin nav-font nav-items header-menu">
           
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Insurance
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Motor Insurance</a></li>
                    <li><a class="dropdown-item" href="#">Health Insurance</a></li>
                    <li><a class="dropdown-item" href="#">Term Insurance</a></li>
                    <li><a class="dropdown-item" href="#">Other Insurance</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    How To Become An Agent
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Motor Insurance</a></li>
                    <li><a class="dropdown-item" href="#">Health Insurance</a></li>
                    <li><a class="dropdown-item" href="#">Term Insurance</a></li>
                    <li><a class="dropdown-item" href="#">Other Insurance</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Support</a>
            </li>
            <li class="nav-item header-login">
                <a class="nav-link" aria-current="page" href="signup.php">Register</a>
            </li>
        </ul>
      </div>
    </nav>
</div>
</header>

    