 <div class="active tab-pane" id="activity-tab">
                                                <div class="row mt-3">
                                                    <div class="table-responsive">
                                                        <table class="table table-design table-bordered">
                                                            <tbody id="activity-tab-data">
                                                                <tr>
                                                                    <td>
                                                                        <div class="d-flex">
                                                                            <div class="activity-circle">
                                                                                I
                                                                            </div>
                                                                            <div class="ml-2">
                                                                                <span class="d-block">05 Dec</span>
                                                                                <span class="text-muted">5:43 PM</span>
                                                                            </div>    
                                                                        </div>    
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex flex-wrap">
                                                                            <span class="d-block text-primary">Ishank Ahuja - NEET UG</span>
                                                                            <span class="ml-1">Opportunity added via Opportunity Capture API</span>
                                                                        </div>    
                                                                        <span class="text-muted d-block">Added by Utkarsh Rai on 16 Jul 2020 5:10 PM</span>
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex">
                                                                            <a href="#" class="mx-1"><i class="fa-solid fa-eye"></i></a>
                                                                            <a href="#" class="mx-1 text-info"><i class="fa-solid fa-pen-to-square"></i></a>
                                                                            <a href="#" class="mx-1 text-danger"><i class="fa-solid fa-trash-can"></i></a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <div class="d-flex">
                                                                            <div class="activity-circle">
                                                                                A
                                                                            </div>
                                                                            <div class="ml-2">
                                                                                <span class="d-block">05 Dec</span>
                                                                                <span class="text-muted">5:43 PM</span>
                                                                            </div>    
                                                                        </div>    
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex flex-wrap">
                                                                            <span class="d-block text-primary">Agree to pay</span>
                                                                        </div>    
                                                                        <span class="text-muted d-block">Added by Rajesh Aggarwal on 16 Jul 2020 5:10 PM</span>
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex">
                                                                            <a href="#" class="mx-1"><i class="fa-solid fa-eye"></i></a>
                                                                            <a href="#" class="mx-1 text-info"><i class="fa-solid fa-pen-to-square"></i></a>
                                                                            <a href="#" class="mx-1 text-danger"><i class="fa-solid fa-trash-can"></i></a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <div class="d-flex">
                                                                            <div class="activity-circle">
                                                                                I
                                                                            </div>
                                                                            <div class="ml-2">
                                                                                <span class="d-block">05 Dec</span>
                                                                                <span class="text-muted">5:43 PM</span>
                                                                            </div>    
                                                                        </div>    
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex flex-wrap">
                                                                            <span class="d-block text-primary">Ishank Ahuja - NEET UG</span>
                                                                            <span class="ml-1">Opportunity added via Opportunity Capture API</span>
                                                                        </div>    
                                                                        <span class="text-muted d-block">Added by Utkarsh Rai on 16 Jul 2020 5:10 PM</span>
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex">
                                                                            <a href="#" class="mx-1"><i class="fa-solid fa-eye"></i></a>
                                                                            <a href="#" class="mx-1 text-info"><i class="fa-solid fa-pen-to-square"></i></a>
                                                                            <a href="#" class="mx-1 text-danger"><i class="fa-solid fa-trash-can"></i></a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                            
                                                </div>
                                            </div>