{% load static %}
  <!-- Bootstrap Icons CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

<div class="tab-content" id="nav-tabContent">
  <div class="table-responsive">
   
    <table class="table table-design table-trlink table-small-font">
      <thead class="table-thead-bg-light table-header-fix">
        <tr>
          <th width="10">
            <input type="checkbox" id="checkall" class="table-chk">
            <label for="checkall"></label>
          </th>
          <th>Lead Info</th>
          <th width="180">Customer Info</th>
          <th>Personal Info</th>
          <th>Policy Info</th>
          <th>Lead Source Info</th>
          <th>Lead Allocation</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for lead in page_obj %}
          <tr>
            <td>
              <input type="checkbox" id="check{{ lead.id }}" class="table-chk">
              <label for="check{{ lead.id }}"></label>
            </td>
            
              <!-- Lead ID + Date -->
              <td>
                <span class="badge bg-secondary">{{ lead.lead_id }}</span><br>
                <span class="d-block">Lead Age : N/A</span>
                <small class="text-muted">{{ lead.created_at|date:"d M Y h:i A" }}</small>
              </td>
                 <!-- Customer Info -->
                <td>
                <div class="d-flex">
                  <span class="d-block text-primary">{{ lead.name_as_per_pan }}</span> 
                    {% if lead.lead_customer_gender == 1 %}
                    <span class="text-muted ml-1">(Male)</span>
                  {% elif lead.lead_customer_gender == 2 %}
                  <span class="text-muted ml-1">(Female)</span>
                    {% else %}
                  
                  {% endif %}
                  </div>  
                  <span class="d-block text-lowercase">{{ lead.email_address }}</span>
                  <span class="d-block text-muted">{{ lead.mobile_number }}</span>
                </td>

                  <!-- Personal Info -->
              <td>
                <span class="d-block text-muted">DOB: {{ lead.date_of_birth|default:"-" }}</span>
                  <span>PAN: {{ lead.pan_card_number|default:"-" }}</span>
              </td>
          <!-- <td class="text-center">
            {{ lead.project_name|default:"-" }}
          </td> -->
          <td>
            <strong>Insurance Type:</strong> {{ lead.lead_type|default:"-" }}<br>
            <span class="d-block text-muted">Category: {{ lead.product_category|default:"N/A" }}</span>
            <span>Product Name: {{ lead.make_and_model|default:"-" }}</span>
          </td>
             <!-- Lead Source Info -->
          <td>
            Source Type: {{ lead.lead_source|default:"N/A" }}<br>
            <span class="d-block text-muted">Source Name: {{ lead.previous_policy_source|default:"N/A" }}</span>
            Refferal Name: {{ lead.referral_name|default:"-" }}<br>
          <span>Source Medium: {{ lead.lead_source_medium|default:"N/A" }}</span>
          </td>
            <!-- Lead Allocation -->
          <td>
            Allocated user: {{ lead.sales_manager|default:"N/A" }}<br>
            <span class="d-block text-muted">
            Allocation Date: {{ lead.updated_at|date:"d-m-Y" }}
          </span>
          </td>
            <!-- Status -->
          <!-- <td class="text-center">
            <span class="badge bg-light text-dark">
              {{ lead.status|default:"-" }}
            </span>
          </td> -->

             <!-- Allocation -->
          <!-- <td class="text-center">
            {{ lead.sales_manager|default:"Un-Allocated" }}
          </td> -->
            <!-- Status -->
          <td>
            Create : {{ lead.created_at|date:"d-m-Y" }}<br>
            <span class="d-block text-muted">Quote: {{ lead.quote_date|default:"N/A" }}</span>
            Booking: {{ lead.policy_date|date:"d-m-Y"|default:"-" }}<br>
            Issued: {{ lead.policy_end_date|date:"d-m-Y"|default:"-" }}
          </td>
          <!--Action-->
          <td> 
            <div class="dropdown">
              <img src="/static/dist/img/svg/menu-dot-vr.svg" alt="" class="table-doticon" data-toggle="dropdown" aria-expanded="false">
              <ul class="dropdown-menu table-dropdown-menu" style="">
                <!--<li>
                  <a class="dropdown-item" href="#">
                    <i class="bi bi-eye mr-2"></i> View
                  </a>
                </li>-->
                {% if lead.lead_id %}
                <a class="dropdown-item" href="{% url 'lead-view' lead_id=lead.lead_id %}">
                  <i class="bi bi-eye mr-2"></i> View
                </a>
              {% else %}
                
              {% endif %}
                <li>
                  <a href="#" class="dropdown-item">
                    <i class="bi bi-person-plus mr-2"></i> Allocation
                  </a>
                </li>
                <li>
                  {% if lead.lead_id %}
                    <a href="{% url 'edit-lead-init' lead_id=lead.lead_id %}" class="dropdown-item">
                      <i class="bi bi-pencil-square mr-2"></i> Edit
                    </a>  
                  {% endif %}
                </li>
              </ul>
            </div>
          </td>
        </tr>
        {% empty %}
          <tr>
            <td colspan="11" class="text-center">No leads found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
