{% load static %}
  <!-- Bootstrap Icons CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

<div class="tab-content" id="nav-tabContent">
  <div class="table-responsive">
   
    <table class="table table-design table-trlink table-small-font">
      <thead class="table-thead-bg-light table-header-fix">
        <tr>
          <th width="10">
            <input type="checkbox" id="checkall" class="table-chk">
            <label for="checkall"></label>
          </th>
          <th>Lead Info</th>
          <th width="180">Customer Info</th>
          <th>Personal Info</th>
          <th>Policy Info</th>
          <th>Lead Source Info</th>
          <th>Lead Allocation</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for lead in page_obj %}
          <tr>
            <td>
              <input type="checkbox" id="check{{ lead.id }}" class="table-chk">
              <label for="check{{ lead.id }}"></label>
            </td>
            
              <!-- Lead ID + Date -->
          <td>
            <span class="badge bg-secondary">{{ lead.lead_id }}</span>
            
            <span class="d-block">Lead Age : N/A</span>
            <small class="text-muted">
              {{ lead.created_at|date:"d M Y h:i A" }}
            </small>
          </td>
             <!-- Customer Info -->
          <td>
            <div class="d-flex">
              <span class="d-block text-primary">{{ lead.name_as_per_pan }}</span> 
              <span class="text-muted ml-1">(Male)</span>
            </div>  
            <span class="d-block text-lowercase">{{ lead.email_address }}</span>
            <span class="d-block text-muted">{{ lead.mobile_number }}</span>
            
          </td>
            <!-- Project Name -->
          <td>
            <span class="d-block text-muted">DOB: 15-12-1986</span>
            <span>PAN: BAXPK1234K</span>
          </td>
          <!-- <td class="text-center">
            {{ lead.project_name|default:"-" }}
          </td> -->
          <td>
            <strong>Insurance Type:</strong> {{ lead.lead_type|default:"-" }}<br>
            <span class="d-block text-muted">Category: N/A</span>
            <span>Product Name: ABC</span>
            <!-- <strong>Company:</strong> {{ lead.insurance_company|default:"-" }} -->
          </td>
          <td>
            Source Type: N/A <br>
            <span class="d-block text-muted">Source Name: ABC</span>
            Refferal Name: Ankit<br>
            <span>Source Medium: N/A</span>

          </td>
          <td>
            Allocated user: N/A <br>
            <span class="d-block text-muted">Allocation Date: 5-5-2025</span>
          </td>
            <!-- Status -->
          <!-- <td class="text-center">
            <span class="badge bg-light text-dark">
              {{ lead.status|default:"-" }}
            </span>
          </td> -->

             <!-- Allocation -->
          <!-- <td class="text-center">
            {{ lead.sales_manager|default:"Un-Allocated" }}
          </td> -->
          <td>
            Create : 8-5-2025 <br>
            <span class="d-block text-muted">Quote: N/A</span>
            Booking: 7-5-2025 <br>
            Issued: 8-5-2025
          </td>
          <!--Action-->
          <td> 
            <div class="dropdown">
              <img src="/static/dist/img/svg/menu-dot-vr.svg" alt="" class="table-doticon" data-toggle="dropdown" aria-expanded="false">
              <ul class="dropdown-menu table-dropdown-menu" style="">
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="bi bi-eye mr-2"></i> View
                  </a>
                </li>
                <li>
                  <a href="#" class="dropdown-item">
                    <i class="bi bi-person-plus mr-2"></i> Allocation
                  </a>
                </li>
                <li>
                  {% if lead.lead_id %}
                    <a href="{% url 'edit-lead-init' lead_id=lead.lead_id %}" class="dropdown-item">
                      <i class="bi bi-pencil-square mr-2"></i> Edit
                    </a>  
                  {% endif %}
                </li>
              </ul>
            </div>
          </td>
        </tr>
        {% empty %}
          <tr>
            <td colspan="11" class="text-center">No leads found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
