{% extends 'master.html' %}

{% load static %}

{% block title %}
Add Address
{% endblock %}

{% block content %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
        {% include "navbar.html" %}
        {% include "sidebar.html" %}
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header breadcrump-bg">
          <div class="container-fluid">
            <div class="row py-2">
              <div class="col-sm-6">
                <div class="d-flex align-items-center">
                  <a href="javascript:void(0)" class="admin-title m-0 pt-2 text-dark">Add Address</a>
                </div>
                <ul class="breadcrump">
                  <li> <a href="#">Dashboard</a> <i class="fas fa-chevron-right"></i></li>
                  <li> <a href="#">Employee</a> <i class="fas fa-chevron-right"></i></li>
                  <li>Add Address</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              
              <div class="col-sm-12">  
                  {% include 'employee/common-link.html' with step=2 %}

                <div class="card box-shadow-none p-md-5 p-3">
                  <div class="card-body px-0 pb-0 pt-0">

                    <form autocomplete="off" id="employeeForm" name="employeeForm"
                        action="{% url 'employee-management-update-address' employee.employee_id %}" method="post">
                      {% csrf_token %}
                      <div class="row">
                          <div class="col-md-12">
                              <h2 class="admin-title border-bottom pb-2 mb-4">Permanent Address</h2>
                          </div>

                          <div class="form-group col-sm-12">
                              <label class="form-lbl">Permanent Address</label>
                              <textarea rows="3" name="permanent_address" class="form-field"
                                        placeholder="Permanent Address">{{ permanent.address }}</textarea>
                          </div>

                          <div class="form-group col-sm-6 col-md-4">
                              <label class="form-lbl">State</label>
                              <input type="text" name="permanent_state" class="form-field" placeholder="State Name"
                                    value="{{ permanent.state }}">
                          </div>

                          <div class="form-group col-sm-6 col-md-4">
                              <label class="form-lbl">City</label>
                              <input type="text" name="permanent_city" class="form-field" placeholder="City Name"
                                    value="{{ permanent.city }}">
                          </div>

                          <div class="form-group col-sm-6 col-md-4">
                              <label class="form-lbl">Pincode</label>
                              <input type="text" name="permanent_pincode" class="form-field" placeholder="Pincode"
                                    value="{{ permanent.pincode }}">
                          </div>

                          <div class="col-md-12 mt-5">
                              <h2 class="admin-title border-bottom pb-2 mb-4">Correspondence Address</h2>
                          </div>

                          <div class="form-group col-sm-12">
                              <label class="form-lbl">Correspondence Address</label>
                              <textarea rows="3" name="correspondence_address" class="form-field"
                                        placeholder="Correspondence Address">{{ correspondence.address }}</textarea>
                          </div>

                          <div class="form-group col-sm-6 col-md-4">
                              <label class="form-lbl">State</label>
                              <input type="text" name="correspondence_state" class="form-field" placeholder="State Name"
                                    value="{{ correspondence.state }}">
                          </div>

                          <div class="form-group col-sm-6 col-md-4">
                              <label class="form-lbl">City</label>
                              <input type="text" name="correspondence_city" class="form-field" placeholder="City Name"
                                    value="{{ correspondence.city }}">
                          </div>

                          <div class="form-group col-sm-6 col-md-4">
                              <label class="form-lbl">Pincode</label>
                              <input type="text" name="correspondence_pincode" class="form-field" placeholder="Pincode"
                                    value="{{ correspondence.pincode }}">
                          </div>
                      </div>

                      <div class="d-flex justify-content-end">
                          <button type="submit" class="form-submit-btn">Update Addresses</button>
                      </div>
                  </form>


                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
        
    </div>
    
    {% include "footer.html" %}
    {% include "footer-script.html" %}
    <script>
      document.getElementById("myForm").addEventListener("submit", function() {
          document.getElementById("loader").style.display = "flex";
      });
    </script>
    <script>
        $(document).ready(function() {
            $('#role').change(function() {
                var roleId = $(this).val();
                var userSelect = $('#senior');

                if (roleId) {
                    $.ajax({
                        url: "{% url 'get_users_by_role' %}",
                        type: 'GET',
                        data: { 'role_id': roleId },
                        headers: { 'X-Requested-With': 'XMLHttpRequest' },
                        success: function(response) {
                            userSelect.empty();
                            userSelect.append('<option value="">Select User</option>');
                            if (response.users && response.users.length > 0) {
                                $.each(response.users, function(index, user) {
                                    userSelect.append(
                                        `<option value="${user.id}">${user.full_name}</option>`
                                    );
                                });
                            } else {
                                userSelect.append('<option value="">No users available</option>');
                            }
                        },
                        error: function() {
                            alert('Error fetching users');
                        }
                    });
                } else {
                    userSelect.empty().append('<option value="">Select User</option>');
                }
            });
        });
</script>
</body>
{% endblock %}
