<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
      <a href="#">
        <div class="card counter-img-card active">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <p class="card-text">Total Partners</p>
                <h5 class="card-title card-number">{{ counters.total }}</h5>
              </div>
            </div>
          </div>
        </div>
      </a>   
    </div>  

    <div class="col-xs-6 col-sm-4 col-md-3">
      <a href="#">
        <div class="card counter-img-card counter-active-card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <p class="card-text">Activated Partners</p>
                <h5 class="card-title card-number">{{ counters.activated }}</h5>
              </div>
            </div>
          </div>
        </div>
      </a>  
    </div> 

    <div class="col-xs-6 col-sm-4 col-md-3">
      <a href="#">
        <div class="card counter-img-card counter-active-card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <p class="card-text">Requested Partners</p>
                <h5 class="card-title card-number">{{ counters.requested }}</h5>
              </div>
            </div>
          </div>
        </div>
      </a>  
    </div>  

    <div class="col-xs-6 col-sm-4 col-md-3">
      <a href="#">
        <div class="card counter-img-card counter-active-card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <p class="card-text">Document Verification</p>
                <h5 class="card-title card-number">{{ counters.document_verification }}</h5>
              </div>
            </div>
          </div>
        </div>
      </a>  
    </div>  

    <div class="col-xs-6 col-sm-4 col-md-3">
      <a href="#">
        <div class="card counter-img-card counter-deactive-card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <p class="card-text">In-Training Partners</p>
                <h5 class="card-title card-number">{{ counters.in_training }}</h5>
              </div>
            </div>
          </div>
        </div>
      </a>  
    </div> 

    <div class="col-xs-6 col-sm-4 col-md-3">
      <a href="#">
        <div class="card counter-img-card counter-deactive-card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <p class="card-text">In-Exam Partners</p>
                <h5 class="card-title card-number">{{ counters.in_exam }}</h5>
              </div>
            </div>
          </div>
        </div>
      </a>  
    </div> 

    <div class="col-xs-6 col-sm-4 col-md-3">
      <a href="#">
        <div class="card counter-img-card counter-deactive-card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <p class="card-text">Rejected Partners</p>
                <h5 class="card-title card-number">{{ counters.rejected }}</h5>
              </div>
            </div>
          </div>
        </div>
      </a>  
    </div> 

    <div class="col-xs-6 col-sm-4 col-md-3">
      <a href="#">
        <div class="card counter-img-card counter-deactive-card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <p class="card-text">Inactive Partners</p>
                <h5 class="card-title card-number">{{ counters.inactive }}</h5>
              </div>
            </div>
          </div>
        </div>
      </a>  
    </div>   
</div>
